In [171]:
import numpy as np
import pandas as pd
import warnings
import ast
import re
from IPython.display import display
warnings.filterwarnings("ignore")

In [419]:
train_data = pd.read_csv("./data/train.csv")
test = pd.read_csv("./data/test.csv")
pd.set_option('display.max_columns',100)
pd.set_option('display.max_rows',None)
pd.set_option('display.max_colwidth', None)

In [13]:
train.head()

,address,career_objective,skills,educational_institution_name,degree_names,passing_years,educational_results,result_types,major_field_of_studies,professional_company_names,company_urls,start_dates,end_dates,related_skils_in_job,positions,locations,responsibilities,extra_curricular_activity_types,extra_curricular_organization_names,extra_curricular_organization_links,role_positions,languages,proficiency_levels,certification_providers,certification_skills,online_links,issue_dates,expiry_dates,﻿job_position_name,educationaL_requirements,experiencere_requirement,age_requirement,responsibilities.1,skills_required,matched_score
0,NaN,Big data analytics working and database wareho...,"['Big Data', 'Hadoop', 'Hive', 'Python', 'Mapr...",['The Amity School of Engineering & Technology...,['B.Tech'],['2019'],['N/A'],[None],['Electronics'],['Coca-COla'],[None],['Nov 2019'],['Till Date'],[['Big Data']],['Big Data Analyst'],['N/A'],Technical Support\nTroubleshooting\nCollaborat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Senior Software Engineer,B.Sc in Computer Science & Engineering from a ...,At least 1 year,NaN,Technical Support\nTroubleshooting\nCollaborat...,NaN,0.850000
1,NaN,Fresher looking to join as a data analyst and ...,"['Data Analysis', 'Data Analytics', 'Business ...","['Delhi University - Hansraj College', 'Delhi ...","['B.Sc (Maths)', 'M.Sc (Science) (Statistics)']","['2015', '2018']","['N/A', 'N/A']","['N/A', 'N/A']","['Mathematics', 'Statistics']",['BIB Consultancy'],['N/A'],['Sep 2019'],['Till Date'],"[['Data Analysis', 'Business Analysis', 'Machi...",['Business Analyst'],['N/A'],Machine Learning Leadership\nCross-Functional ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Machine Learning (ML) Engineer,M.Sc in Computer Science & Engineering or in a...,At least 5 year(s),NaN,Machine Learning Leadership\nCross-Functional ...,NaN,0.750000
2,NaN,NaN,"['Software Development', 'Machine Learning', '...","['Birla Institute of Technology (BIT), Ranchi']",['B.Tech'],['2018'],['N/A'],['N/A'],['Electronics/Telecommunication'],['Axis Bank Limited'],['N/A'],['June 2018'],['Till Date'],"[['Unified Payment Interface', 'Risk Predictio...",['Software Developer (Machine Learning Enginee...,['N/A'],"Trade Marketing Executive\nBrand Visibility, S...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Executive/ Senior Executive- Trade Marketing, ...",Master of Business Administration (MBA),At least 3 years,NaN,"Trade Marketing Executive\nBrand Visibility, S...",Brand Promotion\nCampaign Management\nField Su...,0.416667
3,NaN,To obtain a position in a fast-paced business ...,"['accounts payables', 'accounts receivables', ...","['Martinez Adult Education, Business Training ...",['Computer Applications Specialist Certificate...,['2008'],[None],[None],['Computer Applications'],"['Company Name ï¼ City , State', 'Company Name...","[None, None, None, None, None, None]","['January 2011', 'January 2008', 'January 2006...","['November 2015', 'January 2010', 'January 200...","[['accounts receivables', 'banking', 'G/L Acco...","['Accountant', 'Accounts Receivable Clerk', 'M...","['City, State', 'City, State', 'City, State', ...",Apparel Sourcing\nQuality Garment Sourcing\nRe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Business Development Executive,Bachelor/Honors,1 to 3 years,Age 22 to 30 years,Apparel Sourcing\nQuality Garment Sourcing\nRe...,Fast typing skill\nIELTSInternet browsing & on...,0.760000
4,NaN,Professional accountant with an outstanding wo...,"['Analytical reasoning', 'Compliance testing k...",['Kent State University'],['Bachelor of Business Administration'],[None],['3.84'],[None],['Accounting'],"['Company Name', 'Company Name', 'Company Name...","[None, None, None, None, None]","['January 2016', 'January 2016', 'January 2012...","['Current', 'January 2016', 'January 2015', 'J...","[['collections', 'accounts receivable', 'finan...","['Staff Accountant', 'Senior Accountant', 'Tax...","['City, State', 'City, State', 'City, State', ...",iOS Lifecycle\nRequirement Analysis\nNative Fr...,"['Professional Organization', 'Honor Society',...","['Ohio Society of CPAs', 'Beta Alpha Psi', 'Go...","[None, None, None, None]","[None, None, None, None]",NaN,NaN,['Ohio Notary Public'],[None],[None],[None],"['February 15, 2021']",Senior iOS Engineer,Bachelor of Science (BSc) in Computer Science,At least 4 years,NaN,iOS Lifecycle\nRequirement Analysis\nNative Fr...,iOS\niOS App Developer\niOS Application Develo...,0.650000

In [17]:
def clean_address():
    train_data['address_missing'] = train_data['address'].isnull().astype(int)
    train_data['address'].fillna("unknown", inplace=True)
    train_data[['city', 'state']] =  train_data['address'].str.split(',', n= 1, expand = True)
    
    train_data['city'] = train_data['city'].str.strip().fillna("unknown")
    train_data['state'] = train_data['state'].str.strip().fillna("unknown")

    words_to_remove =  ['Address', 'City', 'Province', 'Country', 'unknown']
    train_data["generalized_address"] = train_data["address"].apply(lambda x: int(any(keyword in x for keyword in words_to_remove)))
clean_address()  
train_data[['address', 'address_missing', 'city', 'state', 'generalized_address']].sample(20)

      address  address_missing     city    state  generalized_address
5638  unknown                0  unknown  unknown                    1
7030  unknown                0  unknown  unknown                    1
4421  unknown                0  unknown  unknown                    1
5565  unknown                0  unknown  unknown                    1
4439  unknown                0  unknown  unknown                    1
40    unknown                0  unknown  unknown                    1
5421  unknown                0  unknown  unknown                    1
4995  unknown                0  unknown  unknown                    1
6809  unknown                0  unknown  unknown                    1
5578  unknown                0  unknown  unknown                    1
1417  unknown                0  unknown  unknown                    1
6872  unknown                0  unknown  unknown                    1
2569  unknown                0  unknown  unknown                    1
5886  unknown                0  unknown  unknown                    1
51    unknown                0  unknown  unknown                    1
5100  unknown                0  unknown  unknown                    1
3090  unknown                0  unknown  unknown                    1
4405  unknown                0  unknown  unknown                    1
6886  unknown                0  unknown  unknown                    1
4542  unknown                0  unknown  unknown                    1

In [31]:
# career_objective

In [75]:
def clean_text(text):
    text = text.lower()  # Convert to lowercase
    text = re.sub(r'[^a-z\s]', '', text)  # Remove special characters and numbers
    text = re.sub(r'\s+', ' ', text).strip()  # Remove extra spaces
    return text
    
def clean_career_objective():
    train_data['career_objective_cleaned'] = train_data['career_objective'].apply(clean_text)

# Step 3: Feature Engineering - Create binary flags for common objectives (example: "data", "analyst", "developer")
    keywords = ['data', 'analyst', 'developer', 'engineer', 'machine learning', 'software']
    for keyword in keywords:
        train_data[f'objective_{keyword.replace(" ", "_")}'] = train_data['career_objective_cleaned'].apply(
            lambda x: int(keyword in x)
        )


clean_career_objective()

In [77]:
keywords = ['data', 'analyst', 'developer', 'engineer', 'machine learning', 'software']
train_data[['career_objective', 'career_objective_cleaned'] + [f'objective_{keyword.replace(" ", "_")}' for keyword in keywords]].head(10)

,career_objective,career_objective_cleaned,objective_data,objective_analyst,objective_developer,objective_engineer,objective_machine_learning,objective_software
0,Big data analytics working and database warehouse manager with robust experience in handling all kinds of data. I have also used multiple cloud infrastructure services and am well acquainted with them. Currently in search of role that offers more of development.,big data analytics working and database warehouse manager with robust experience in handling all kinds of data i have also used multiple cloud infrastructure services and am well acquainted with them currently in search of role that offers more of development,1,0,0,0,0,0
1,Fresher looking to join as a data analyst and junior data scientist. Experienced in creating meaningful data dashboards and evaluation models.,fresher looking to join as a data analyst and junior data scientist experienced in creating meaningful data dashboards and evaluation models,1,1,0,0,0,0
2,unknown,unknown,0,0,0,0,0,0
3,"To obtain a position in a fast-paced business office environment, demanding a strong organizational, technical, and interpersonal position utilizing my skills and attributes.",to obtain a position in a fastpaced business office environment demanding a strong organizational technical and interpersonal position utilizing my skills and attributes,0,0,0,0,0,0
4,"Professional accountant with an outstanding work ethic and integrity seeking to make a valuable contribution utilizing strong analytical, organizational, communication, and computer skills.",professional accountant with an outstanding work ethic and integrity seeking to make a valuable contribution utilizing strong analytical organizational communication and computer skills,0,0,0,0,0,0
5,"To secure an IT specialist, desktop support, network administration, database administrator, technical support specialist or related position with a growing organization where my Microsoft certification, technical aptitude, networking, Windows and Mac OS, Apple and Android IOS, web development, application development, Linux, Microsoft applications, managing, testing, client support, help desk, technical support, troubleshooting, and leadership skills can benefit those who I work for as well as myself.",to secure an it specialist desktop support network administration database administrator technical support specialist or related position with a growing organization where my microsoft certification technical aptitude networking windows and mac os apple and android ios web development application development linux microsoft applications managing testing client support help desk technical support troubleshooting and leadership skills can benefit those who i work for as well as myself,1,0,0,0,0,0
6,unknown,unknown,0,0,0,0,0,0
7,unknown,unknown,0,0,0,0,0,0
8,"Certified Data analyst with a degree in Electronics Engineering, I have hands on experience in analyzing & interpreting data with good numerical accuracy.",certified data analyst with a degree in electronics engineering i have hands on experience in analyzing interpreting data with good numerical accuracy,1,1,0,1,0,0
9,unknown,unknown,0,0,0,0,0,0

In [19]:
#skills

In [28]:
def parse_skills(skill_set):
    try:
        return ast.literal_eval(skill_set)
    except:
        return []
        
def clean_skill():
    train_data['skills'].fillna("unknown", inplace=True)
    train_data['skills_parsed'] = train_data['skills'].apply(parse_skills)
    train_data['num_skills'] = train_data['skills_parsed'].apply(len)

    top_skills = ['Python', 'SQL', 'Machine Learning', 'Data Analysis', 'Java']

    for skill in top_skills:
        train_data[f"has_{skill.replace(" ", "_")}"] = train_data["skills_parsed"].apply(lambda skills : int(skill in skills))

clean_skill()

In [30]:
top_skills = ['Python', 'SQL', 'Machine Learning', 'Data Analysis', 'Java']
train_data[["skills", "skills_parsed", "num_skills"] + [f"has_{skill.replace(" ", "_")}" for skill in top_skills]]

,skills,skills_parsed,num_skills,has_Python,has_SQL,has_Machine_Learning,has_Data_Analysis,has_Java
0,"['Big Data', 'Hadoop', 'Hive', 'Python', 'Mapr...","[Big Data, Hadoop, Hive, Python, Mapreduce, Sp...",21,1,0,1,0,1
1,"['Data Analysis', 'Data Analytics', 'Business ...","[Data Analysis, Data Analytics, Business Analy...",10,0,0,1,1,0
2,"['Software Development', 'Machine Learning', '...","[Software Development, Machine Learning, Deep ...",14,1,0,1,0,0
3,"['accounts payables', 'accounts receivables', ...","[accounts payables, accounts receivables, Acco...",36,0,0,0,0,0
4,"['Analytical reasoning', 'Compliance testing k...","[Analytical reasoning, Compliance testing know...",32,0,0,0,0,0
...,...,...,...,...,...,...,...,...
7630,"['HTML', 'CSS', 'JavaScript (Angular)', 'Pytho...","[HTML, CSS, JavaScript (Angular), Python, Git,...",10,1,0,0,1,0
7631,"['Machine Learning Engineer', 'Data Analyst', ...","[Machine Learning Engineer, Data Analyst, Natu...",12,1,0,0,0,0
7632,"['Software Engineer', 'Data Analyst', 'Machine...","[Software Engineer, Data Analyst, Machine Lear...",12,1,0,1,0,1
7633,"['Accounting', 'Accounting Software', 'Account...","[Accounting, Accounting Software, Accounts Pay...",62,0,0,0,0,0
7634,"['Electronic & Mechanical Technology', 'Mainte...","[Electronic & Mechanical Technology, Maintenan...",16,0,0,0,0,0

In [82]:
# educational_institution_name

In [93]:
def clean_institution_name(name):
    name = name.lower()  
    name = re.sub(r'[^a-z\s]', '', name)  
    name = re.sub(r'\s+', ' ', name).strip() 
    return name

def clean_educational_institution_name():
    train_data["educational_institution_name"].fillna("unknown", inplace=True)
    train_data['educational_institution_name_cleaned'] = train_data['educational_institution_name'].apply(clean_institution_name)
    keywords = ['university', 'college', 'institute', 'school', 'academy']

    for keyword in keywords:
        train_data[f'is_{keyword}'] = train_data['educational_institution_name_cleaned'].apply(
        lambda x: int(keyword in x)
    )
    train_data['institution_name_word_count'] = train_data['educational_institution_name_cleaned'].apply(lambda x: len(x.split()))

clean_educational_institution_name()

In [95]:
keywords = ['university', 'college', 'institute', 'school', 'academy']
train_data[['educational_institution_name', 'educational_institution_name_cleaned', 'institution_name_word_count'] + [f'is_{keyword}' for keyword in keywords]].head(10)

,educational_institution_name,educational_institution_name_cleaned,institution_name_word_count,is_university,is_college,is_institute,is_school,is_academy
0,"['The Amity School of Engineering & Technology (ASET), Noida']",the amity school of engineering technology aset noida,8,0,0,0,1,0
1,"['Delhi University - Hansraj College', 'Delhi University - Hansraj College']",delhi university hansraj college delhi university hansraj college,8,1,1,0,0,0
2,"['Birla Institute of Technology (BIT), Ranchi']",birla institute of technology bit ranchi,6,0,0,1,0,0
3,"['Martinez Adult Education, Business Training Center ï¼ City , State']",martinez adult education business training center city state,8,0,0,0,0,0
4,['Kent State University'],kent state university,3,1,0,0,0,0
5,"['Glen Oaks High School', 'Glen Oaks High School']",glen oaks high school glen oaks high school,8,0,0,0,1,0
6,['DJR College and University'],djr college and university,4,1,1,0,0,0
7,['POLYTECHNIC UNIVERSITY OF PUERTO RICO'],polytechnic university of puerto rico,5,1,0,0,0,0
8,['Nagpur University'],nagpur university,2,1,0,0,0,0
9,"['Dr. Virendra Swaroop Institute of Computer Studies, Kanpur', 'Pranveer Singh Institute of Technology, Kanpur']",dr virendra swaroop institute of computer studies kanpur pranveer singh institute of technology kanpur,14,0,0,1,0,0

In [98]:
# degree_names

In [101]:
def clean_degree_name(name):
    name = name.lower()  # Convert to lowercase
    name = re.sub(r'[^a-z\s]', '', name)  # Remove special characters and numbers
    name = re.sub(r'\s+', ' ', name).strip()  # Remove extra spaces
    # Standardize abbreviations
    name = name.replace('bsc', 'bachelor of science').replace('msc', 'master of science').replace('phd', 'doctor of philosophy')
    return name
    
def degree_names():
    train_data['degree_names'].fillna("unknown", inplace=True)
    train_data['degree_names_cleaned'] = train_data['degree_names'].apply(clean_degree_name)
    common_degrees = ['bachelor', 'master', 'doctor', 'associate', 'diploma', 'certificate']
    
    for degree in common_degrees:
        train_data[f'is_{degree}'] = train_data['degree_names_cleaned'].apply(
            lambda x: int(degree in x)
        )
    train_data['num_degrees'] = train_data['degree_names_cleaned'].apply(lambda x: len(x.split(',')))
degree_names()

In [102]:
common_degrees = ['bachelor', 'master', 'doctor', 'associate', 'diploma', 'certificate']
train_data[['degree_names', 'degree_names_cleaned', 'num_degrees'] + [f'is_{degree}' for degree in common_degrees]].head(10)

,degree_names,degree_names_cleaned,num_degrees,is_bachelor,is_master,is_doctor,is_associate,is_diploma,is_certificate
0,['B.Tech'],btech,1,0,0,0,0,0,0
1,"['B.Sc (Maths)', 'M.Sc (Science) (Statistics)']",bachelor of science maths master of science science statistics,1,1,1,0,0,0,0
2,['B.Tech'],btech,1,0,0,0,0,0,0
3,['Computer Applications Specialist Certificate Program'],computer applications specialist certificate program,1,0,0,0,0,0,1
4,['Bachelor of Business Administration'],bachelor of business administration,1,1,0,0,0,0,0
5,"['Bachelor Degree', 'Associate Degree']",bachelor degree associate degree,1,1,0,0,1,0,0
6,['B.Tech'],btech,1,0,0,0,0,0,0
7,['Bachelor of Science'],bachelor of science,1,1,0,0,0,0,0
8,['B.Tech/B.E.'],btechbe,1,0,0,0,0,0,0
9,"['BCA', 'MCA']",bca mca,1,0,0,0,0,0,0

In [104]:
# passing_years

In [106]:
def parse_passing_years(year_str):
    year_str = year_str.lower()
    years = re.findall(r'\d{4}', year_str) 
    years = [int(year) for year in years] 
    return years
        
def clean_passing_years():
    train_data['passing_years'].fillna("unknown", inplace=True)
    train_data['parsed_passing_years'] = train_data['passing_years'].apply(parse_passing_years)
    train_data['min_passing_year'] = train_data['parsed_passing_years'].apply(lambda x: min(x) if x else None)
    train_data['max_passing_year'] = train_data['parsed_passing_years'].apply(lambda x: max(x) if x else None)
    train_data['num_passing_years'] = train_data['parsed_passing_years'].apply(len)
    
clean_passing_years()

In [107]:
train_data[['passing_years', 'parsed_passing_years', 'min_passing_year', 'max_passing_year', 'num_passing_years']].head(10)

,passing_years,parsed_passing_years,min_passing_year,max_passing_year,num_passing_years
0,['2019'],[2019],2019.0,2019.0,1
1,"['2015', '2018']","[2015, 2018]",2015.0,2018.0,2
2,['2018'],[2018],2018.0,2018.0,1
3,['2008'],[2008],2008.0,2008.0,1
4,[None],[],NaN,NaN,0
5,"[None, None]",[],NaN,NaN,0
6,['2020'],[2020],2020.0,2020.0,1
7,['2009'],[2009],2009.0,2009.0,1
8,['2019'],[2019],2019.0,2019.0,1
9,"['2016', '2019']","[2016, 2019]",2016.0,2019.0,2

In [111]:
train.columns

Index(['address', 'career_objective', 'skills', 'educational_institution_name',
       'degree_names', 'passing_years', 'educational_results', 'result_types',
       'major_field_of_studies', 'professional_company_names', 'company_urls',
       'start_dates', 'end_dates', 'related_skils_in_job', 'positions',
       'locations', 'responsibilities', 'extra_curricular_activity_types',
       'extra_curricular_organization_names',
       'extra_curricular_organization_links', 'role_positions', 'languages',
       'proficiency_levels', 'certification_providers', 'certification_skills',
       'online_links', 'issue_dates', 'expiry_dates', '﻿job_position_name',
       'educationaL_requirements', 'experiencere_requirement',
       'age_requirement', 'responsibilities.1', 'skills_required',
       'matched_score'],
      dtype='object')

In [112]:
# educational_results
def parse_educational_result(result_str):
    result_str = result_str.lower()  
    result_str = re.sub(r'[^0-9.%cgpa]', '', result_str) 
    if '%' in result_str:
        try:
            return float(result_str.replace('%', '')) / 100
        except ValueError:
            return None
    elif 'cgpa' in result_str or 'gpa' in result_str:
        try:
            return float(re.search(r'\d+(\.\d+)?', result_str).group())
        except AttributeError:
            return None
    else:
        try:
            return float(result_str)
        except ValueError:
            return None

def clean_educational_result():
    train_data['educational_results'].fillna("unknown", inplace=True)
    train_data['parsed_educational_result'] = train_data['educational_results'].apply(parse_educational_result)

    # Step 3: Feature Engineering
    train_data['is_percentage'] = train_data['educational_results'].str.contains('%', case=False, na=False).astype(int)
    train_data['is_gpa'] = train_data['educational_results'].str.contains('gpa|cgpa', case=False, na=False).astype(int)


clean_educational_result()

In [114]:
train_data[['educational_results', 'parsed_educational_result', 'is_percentage', 'is_gpa']].head(30)

,educational_results,parsed_educational_result,is_percentage,is_gpa
0,['N/A'],NaN,0,0
1,"['N/A', 'N/A']",NaN,0,0
2,['N/A'],NaN,0,0
3,[None],NaN,0,0
4,['3.84'],3.840000,0,0
5,"[None, None]",NaN,0,0
6,['N/A'],NaN,0,0
7,['2.50'],2.500000,0,0
8,['N/A'],NaN,0,0
9,"[None, None]",NaN,0,0
10,"['4.0', None, None]",4.000000,0,0
11,['N/A'],NaN,0,0
12,['N/A'],NaN,0,0
13,"['9.35 (Till 4 semesters)', '94%', '10']",0.093549,1,0
14,['3.6'],3.600000,0,0
15,['N/A'],NaN,0,0
16,['N/A'],NaN,0,0
17,['N/A'],NaN,0,0
18,['3.6'],3.600000,0,0
19,['N/A'],NaN,0,0
20,[None],NaN,0,0
21,"['N/A', 'N/A']",NaN,0,0
22,['N/A'],NaN,0,0
23,"[None, None]",NaN,0,0
24,"[None, None]",NaN,0,0
25,"['N/A', 'N/A']",NaN,0,0
26,"['N/A', 'Gold Medalist']",NaN,0,0
27,['N/A'],NaN,0,0
28,"['N/A', 'N/A']",NaN,0,0
29,['N/A'],NaN,0,0

In [115]:
# result_types

In [120]:
def clean_result_type(result_str):
    result_str = result_str.lower()  
    result_str = re.sub(r'[^a-z\s]', '', result_str)  # Remove special characters
    result_str = re.sub(r'\s+', ' ', result_str).strip()  # Remove extra spaces
    # Standardize result types
    result_str = result_str.replace('cgpa', 'gpa').replace('percentage', 'percent')
    return result_str


def clean_result_types():
    train_data['result_types'].fillna("unknown", inplace=True)
    train_data['result_types_cleaned'] = train_data['result_types'].apply(clean_result_type)
    train_data['num_result_types'] = train_data['result_types_cleaned'].apply(lambda x: len(x.split(',')))

    result_categories = ['gpa', 'percent', 'grade', 'rank']
    for category in result_categories:
        train_data[f'is_{category}'] = train_data['result_types_cleaned'].apply(
            lambda x: int(category in x)
    )
clean_result_types()

In [121]:
result_categories = ['gpa', 'percent', 'grade', 'rank']
train_data[['result_types', 'result_types_cleaned', 'num_result_types'] + [f'is_{category}' for category in result_categories]].head(10)

,result_types,result_types_cleaned,num_result_types,is_gpa,is_percent,is_grade,is_rank
0,[None],none,1,0,0,0,0
1,"['N/A', 'N/A']",na na,1,0,0,0,0
2,['N/A'],na,1,0,0,0,0
3,[None],none,1,0,0,0,0
4,[None],none,1,0,0,0,0
5,"[None, None]",none none,1,0,0,0,0
6,['N/A'],na,1,0,0,0,0
7,['GPA'],gpa,1,1,0,0,0
8,['N/A'],na,1,0,0,0,0
9,"[None, None]",none none,1,0,0,0,0

In [122]:
# major_field_of_studies

In [134]:
field_mapping = {
    r'\bcs\b': 'computer science',
    r'\bcomp sci\b': 'computer science',
    r'\bit\b': 'information technology',
    r'\binfo tech\b': 'information technology',
    r'\bengg\b': 'engineering',
    r'\beng\b': 'engineering',
    r'\bmech eng\b': 'mechanical engineering',
    r'\belec eng\b': 'electrical engineering',
    r'\bmath\b': 'mathematics',
    r'\bstat\b': 'mathematics',
    r'\bbiz\b': 'business',
    r'\bmgt\b': 'management',
    r'\bfin\b': 'finance',
    r'\bcomm eng\b': 'communication engineering'
    }

def clean_and_standardize_field(field):
    field = field.lower() 
    field = re.sub(r'[^a-z\s]', '', field) 
    field = re.sub(r'\s+', ' ', field).strip()  
    for pattern, replacement in field_mapping.items():
        field = re.sub(pattern, replacement, field)
    return field
    

def clean_major_field_of_studies():
    train_data['major_field_of_studies'].fillna("unknown", inplace=True)
    train_data['major_field_cleaned'] = train_data['major_field_of_studies'].apply(clean_and_standardize_field)
    common_fields = ['computer science', 'engineering', 'business', 'management', 'mathematics', 'finance']
    for field in common_fields:
        train_data[f'is_{field.replace(" ", "_")}'] = train_data['major_field_cleaned'].apply(
            lambda x: int(field in x)
        )

    
    for pattern, replacement in field_mapping.items():
        field = re.sub(pattern, replacement, field)  # Replace abbreviations
    return field
clean_major_field_of_studies()

'finance'

In [135]:
train_data[['major_field_of_studies', 'major_field_cleaned', 'num_fields'] + [f'is_{field.replace(" ", "_")}' for field in common_fields]].head(10)

,major_field_of_studies,major_field_cleaned,num_fields,is_computer_science,is_engineering,is_business,is_management,is_mathematics,is_finance
0,['Electronics'],electronics,1,0,0,0,0,0,0
1,"['Mathematics', 'Statistics']",mathematics statistics,1,0,0,0,0,1,0
2,['Electronics/Telecommunication'],electronicstelecommunication,1,0,0,0,0,0,0
3,['Computer Applications'],computer applications,1,0,0,0,0,0,0
4,['Accounting'],accounting,1,0,0,0,0,0,0
5,"['Electronics and Communications Engineering Technology', 'Software Development']",electronics and communications engineering technology software development,1,0,1,0,0,0,0
6,['IT'],information technology,1,0,0,0,0,0,0
7,['Electrical Engineering'],electrical engineering,1,0,1,0,0,0,0
8,['Electronics/Telecommunication'],electronicstelecommunication,1,0,0,0,0,0,0
9,"['Computers', 'Computers']",computers computers,1,0,0,0,0,0,0

In [136]:
# professional_company_names

Index(['address', 'career_objective', 'skills', 'educational_institution_name',
       'degree_names', 'passing_years', 'educational_results', 'result_types',
       'major_field_of_studies', 'professional_company_names', 'company_urls',
       'start_dates', 'end_dates', 'related_skils_in_job', 'positions',
       'locations', 'responsibilities', 'extra_curricular_activity_types',
       'extra_curricular_organization_names',
       'extra_curricular_organization_links', 'role_positions', 'languages',
       'proficiency_levels', 'certification_providers', 'certification_skills',
       'online_links', 'issue_dates', 'expiry_dates', '﻿job_position_name',
       'educationaL_requirements', 'experiencere_requirement',
       'age_requirement', 'responsibilities.1', 'skills_required',
       'matched_score'],
      dtype='object')

In [170]:
import re
import ast

def preprocess_company_name(name):
    """
    Clean and normalize individual company names.
    """
    if not isinstance(name, str) or name.lower() in ['n/a', 'unknown', 'company name', 'not specified']:
        return "unknown"
    name = name.lower()
    name = re.sub(r'[^a-z\s&\d]', '', name)  # Remove special characters except '&'
    name = re.sub(r'\s+', ' ', name).strip()  # Normalize whitespace
    return name

def preprocess_company_names(company_names):
    """
    Preprocess the professional_company_names column.
    """
    try:
        # Handle None values and invalid entries
        if company_names is None or not isinstance(company_names, str):
            return []
        # Convert string representation of lists into Python lists
        company_list = ast.literal_eval(company_names) if isinstance(company_names, str) else []
        # Clean individual company names
        company_list = [preprocess_company_name(name) for name in company_list if isinstance(name, str)]
        return list(set(company_list))  # Remove duplicates
    except (ValueError, SyntaxError):
        # Return an empty list for invalid entries
        return []

def preprocess_and_engineer_features(train_data):
    """
    Apply preprocessing and feature engineering to the professional_company_names column.
    """
    # Fill missing values with a placeholder
    train_data['professional_company_names'].fillna("not specified", inplace=True)
    
    # Preprocess company names
    train_data['processed_company_names'] = train_data['professional_company_names'].apply(preprocess_company_names)
    
    # Extract and normalize company names into a single string for encoding
    train_data['company_names_str'] = train_data['processed_company_names'].apply(lambda x: ' '.join(x))
    
    # Extract number of unique company names per entry
    train_data['num_companies'] = train_data['processed_company_names'].apply(len)
    
    # Feature Engineering: Identify keywords in company names
    keywords = ['tech', 'consulting', 'software', 'finance', 'marketing', 'retail', 'manufacturing', 'university']
    for keyword in keywords:
        train_data[f'is_{keyword}'] = train_data['processed_company_names'].apply(
            lambda x: int(any(keyword in name for name in x))
        )
    
    # Feature Engineering: Extract the length of the longest company name
    train_data['longest_company_name_length'] = train_data['processed_company_names'].apply(
        lambda x: max((len(name) for name in x), default=0)
    )
    
    # Feature Engineering: Count occurrences of the word "unknown"
    train_data['num_unknown_companies'] = train_data['processed_company_names'].apply(
        lambda x: sum(1 for name in x if name == "unknown")
    )
    
    return train_data

# Apply preprocessing and feature engineering
train_data = preprocess_and_engineer_features(train_data)

In [173]:
# Display the first few rows of the processed data
keywords = ['tech', 'consulting', 'software', 'finance', 'marketing', 'retail', 'manufacturing', 'university']
display(train_data[['professional_company_names', 'processed_company_names', 'company_names_str', 'num_companies'] +[f'is_{keyword}' for keyword in keywords]].head(10))

,professional_company_names,processed_company_names,company_names_str,num_companies,is_tech,is_consulting,is_software,is_finance,is_marketing,is_retail,is_manufacturing,is_university
0,['Coca-COla'],[cocacola],cocacola,1,0,0,0,0,0,0,0,0
1,['BIB Consultancy'],[bib consultancy],bib consultancy,1,0,0,0,0,0,0,0,0
2,['Axis Bank Limited'],[axis bank limited],axis bank limited,1,0,0,0,0,0,0,0,0
3,"['Company Name ï¼ City , State', 'Company Name ï¼ City , State', 'Company Name ï¼ City , State', 'Company Name ï¼ City , State', 'Company Name ï¼ City , State', 'N/A']","[company name city state, unknown]",company name city state unknown,2,0,0,0,0,0,0,0,0
4,"['Company Name', 'Company Name', 'Company Name', 'Company Name', 'Company Name']",[unknown],unknown,1,0,0,0,0,0,0,0,0
5,"['N/A', 'Company Name', 'Company Name']",[unknown],unknown,1,0,0,0,0,0,0,0,0
6,['Remiro Amio'],[remiro amio],remiro amio,1,0,0,0,0,0,0,0,0
7,"['Company Name', 'Company Name', 'Company Name']",[unknown],unknown,1,0,0,0,0,0,0,0,0
8,['AMZ Loans and Mortgages ERC Analytics'],[amz loans and mortgages erc analytics],amz loans and mortgages erc analytics,1,0,0,0,0,0,0,0,0
9,['Daffodil Software Pvt Ltd'],[daffodil software pvt ltd],daffodil software pvt ltd,1,0,0,1,0,0,0,0,0

In [167]:
# company_urls

In [176]:
train["company_urls"].isnull().sum()

67

In [181]:
import re
from urllib.parse import urlparse

def preprocess_company_url(url):
    """
    Normalize and extract domain from the company URL.
    """
    if not isinstance(url, str) or url.lower() in ['n/a', 'unknown', 'not specified']:
        return "unknown"
    
    # Extract domain name from URL
    try:
        domain = urlparse(url).netloc  # Extract domain
        domain = domain.replace("www.", "").strip().lower()  # Remove "www." and normalize case
        domain = re.sub(r'[^a-z0-9\-\.]', '', domain)  # Remove special characters
        return domain.split('.')[0]  # Keep the main part of the domain (e.g., 'google' from 'google.com')
    except Exception:
        return "invalid"

def preprocess_company_urls(train_data):
    """
    Preprocess and engineer features from the company_urls column.
    """
    # Fill missing values
    train_data['company_urls'].fillna("not specified", inplace=True)
    
    # Preprocess URLs to extract domains
    train_data['processed_company_urls'] = train_data['company_urls'].apply(preprocess_company_url)
    
    # Feature Engineering: Count unique URLs per entry
    train_data['num_unique_urls'] = train_data['processed_company_urls'].apply(
        lambda x: len(set(x.split())) if isinstance(x, str) else 0
    )
    
    # Feature Engineering: Check for presence of common domain types
    domain_types = ['.com', '.org', '.edu', '.gov', '.net']
    for domain in domain_types:
        train_data[f'contains_{domain[1:]}'] = train_data['company_urls'].apply(
            lambda x: int(domain in x.lower()) if isinstance(x, str) else 0
        )
    
    # Feature Engineering: Identify invalid or unknown URLs
    train_data['is_invalid_url'] = train_data['processed_company_urls'].apply(
        lambda x: 1 if x in ['unknown', 'invalid'] else 0
    )
    
    return train_data

# Apply preprocessing and feature engineering
train_data = preprocess_company_urls(train_data)

# Display the first few rows of the processed data
display(train_data[['company_urls', 'processed_company_urls', 'num_unique_urls', 'is_invalid_url'] + 
           [f'contains_{domain[1:]}' for domain in ['.com', '.org', '.edu', '.gov', '.net']]].head(70))

,company_urls,processed_company_urls,num_unique_urls,is_invalid_url,contains_com,contains_org,contains_edu,contains_gov,contains_net
0,[None],,0,0,0,0,0,0,0
1,['N/A'],,0,0,0,0,0,0,0
2,['N/A'],,0,0,0,0,0,0,0
3,"[None, None, None, None, None, None]",,0,0,0,0,0,0,0
4,"[None, None, None, None, None]",,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
65,"[None, None, None]",,0,0,0,0,0,0,0
66,"['N/A', 'N/A']",,0,0,0,0,0,0,0
67,"[None, None, None, None]",,0,0,0,0,0,0,0
68,['N/A'],,0,0,0,0,0,0,0
69,"[None, None]",,0,0,0,0,0,0,0

In [192]:
#start dates
# drop the column

In [216]:
from datetime import datetime
import pandas as pd

def preprocess_and_engineer_start_dates(data):
    """
    Preprocess and engineer features for the start_dates column.
    """
    def parse_date_entry(entry):
        """
        Parse individual date entries from the list.
        Replace invalid entries with None.
        """
        try:
            return pd.to_datetime(entry, errors='coerce').date()
        except:
            return None
    
    def process_start_dates_column(dates):
        """
        Process the entire start_dates entry (which might be a list).
        Select the earliest valid date from the list.
        """
        if not isinstance(dates, str):
            return None
        try:
            dates_list = eval(dates)  # Convert string representation of list to actual list
            parsed_dates = [parse_date_entry(date.strip()) for date in dates_list if date]
            valid_dates = list(filter(None, parsed_dates))  # Exclude None values
            return min(valid_dates) if valid_dates else None  # Get the earliest valid date
        except:
            return None

    # Preprocess and parse the 'start_dates' column
    data['processed_start_dates'] = data['start_dates'].apply(process_start_dates_column)
    
    # Feature Engineering
    data['start_year'] = data['processed_start_dates'].apply(lambda x: x.year if pd.notnull(x) else None)
    data['start_month'] = data['processed_start_dates'].apply(lambda x: x.month if pd.notnull(x) else None)
    data['days_since_start'] = data['processed_start_dates'].apply(
        lambda x: (pd.Timestamp(datetime.now().date()) - pd.Timestamp(x)).days if pd.notnull(x) else -1
    )
    data['start_in_future'] = data['days_since_start'].apply(lambda x: 1 if x < 0 else 0)

    return data

# Apply preprocessing and feature engineering
if 'start_dates' in train_data.columns:
    train_data = preprocess_and_engineer_start_dates(train_data)

In [217]:
display(train_data[['processed_start_dates', 'start_dates','start_year', 'start_month', 'days_since_start', 'start_in_future' ]])

,processed_start_dates,start_dates,start_year,start_month,days_since_start,start_in_future
0,2019-11-01,['Nov 2019'],2019.0,11.0,1883,0
1,2019-09-01,['Sep 2019'],2019.0,9.0,1944,0
2,2018-06-01,['June 2018'],2018.0,6.0,2401,0
3,None,"['January 2011', 'January 2008', 'January 2006', 'January 2004', 'January 2001', 'N/A']",NaN,NaN,-1,1
4,2006-01-01,"['January 2016', 'January 2016', 'January 2012', 'January 2009', 'January 2006']",2006.0,1.0,6935,0
...,...,...,...,...,...,...
7630,2012-01-01,"['2017', '2014', '2012']",2012.0,1.0,4744,0
7631,2019-07-01,['Jul 2019'],2019.0,7.0,2006,0
7632,2019-01-01,['Jan 2019'],2019.0,1.0,2187,0
7633,2005-08-01,"['October 2012', 'April 2011', 'July 2008', 'August 2005']",2005.0,8.0,7088,0
7634,2001-03-01,"['02/2018', '08/2011', '03/2001']",2001.0,3.0,8702,0

In [196]:
# end_dates

In [215]:
from datetime import datetime
import pandas as pd

def preprocess_and_engineer_end_dates(data):
    """
    Preprocess and engineer features for the end_dates column.
    """
    def parse_date_entry(entry):
        """
        Parse individual date entries from the list.
        Replace 'Till Date' or 'Current' with today's date.
        """
        if entry in ['Till Date', 'Current']:
            return datetime.now().date()
        try:
            return pd.to_datetime(entry, errors='coerce').date()
        except:
            return None
    
    def process_end_dates_column(dates):
        """
        Process the entire end_dates entry (which might be a list).
        Select the most recent valid date from the list.
        """
        if not isinstance(dates, str):
            return None
        try:
            dates_list = eval(dates)  # Convert string representation of list to actual list
            parsed_dates = [parse_date_entry(date.strip()) for date in dates_list if date]
            valid_dates = list(filter(None, parsed_dates))  # Exclude None values
            return max(valid_dates) if valid_dates else None  # Get the most recent valid date
        except:
            return None

    # Preprocess and parse the 'end_dates' column
    data['processed_end_dates'] = data['end_dates'].apply(process_end_dates_column)
    
    # Feature Engineering
    data['end_year'] = data['processed_end_dates'].apply(lambda x: x.year if pd.notnull(x) else None)
    data['end_month'] = data['processed_end_dates'].apply(lambda x: x.month if pd.notnull(x) else None)
    data['days_until_end'] = data['processed_end_dates'].apply(
        lambda x: (pd.Timestamp(x) - pd.Timestamp(datetime.now().date())).days if pd.notnull(x) else -1
    )
    data['end_in_past'] = data['days_until_end'].apply(lambda x: 1 if x < 0 else 0)

    return data

# Apply preprocessing and feature engineering
train_data = preprocess_and_engineer_end_dates(train_data)



display(train_data[['processed_end_dates', 'end_dates','end_year', 'end_month', 'days_until_end', 'end_in_past' ]])

,processed_end_dates,end_dates,end_year,end_month,days_until_end,end_in_past
0,2024-12-27,['Till Date'],2024.0,12.0,0,0
1,2024-12-27,['Till Date'],2024.0,12.0,0,0
2,2024-12-27,['Till Date'],2024.0,12.0,0,0
3,2015-11-01,"['November 2015', 'January 2010', 'January 2008', 'January 2006', 'January 2004', None]",2015.0,11.0,-3344,1
4,2024-12-27,"['Current', 'January 2016', 'January 2015', 'January 2011', 'January 2009']",2024.0,12.0,0,0
...,...,...,...,...,...,...
7630,None,"['current', '2017', '2014']",NaN,NaN,-1,1
7631,NaT,['N/A'],NaN,NaN,-1,1
7632,NaT,['till date'],NaN,NaN,-1,1
7633,2014-10-01,"['October 2014', 'October 2012', 'April 2011', 'July 2008']",2014.0,10.0,-3740,1
7634,2024-12-27,"['Current', '02/2018', 'Current']",2024.0,12.0,0,0

In [223]:
import re

def preprocess_and_engineer_related_skills(data):
    """
    Preprocess and engineer features for the related_skils_in_job column.
    """
    def clean_skills(text):
        """
        Clean and normalize the skills list.
        """
        if not isinstance(text, str):
            return "unknown"
        text = text.lower()
        text = re.sub(r'[^a-z0-9,\s]', '', text)  # Remove special characters except commas
        text = re.sub(r'\s+', ' ', text).strip()  # Normalize whitespace
        return text
    
    def count_skills(text):
        """
        Count the number of skills listed.
        """
        if text == "unknown":
            return 0
        return len([skill.strip() for skill in text.split(',') if skill.strip()])
    
    def skill_keyword_match(text, keywords):
        """
        Check for the presence of specific keywords in the skills list.
        """
        return int(any(keyword in text for keyword in keywords))

    # Clean the related_skils_in_job column
    data['related_skils_in_job_cleaned'] = data['related_skils_in_job'].apply(clean_skills)
    
    # Feature Engineering: Count the number of skills
    data['num_skills'] = data['related_skils_in_job_cleaned'].apply(count_skills)
    
    # Feature Engineering: Check for the presence of specific skills
    skill_keywords = ['python', 'java', 'excel', 'sql', 'leadership', 'data']
    for keyword in skill_keywords:
        data[f'contains_{keyword}'] = data['related_skils_in_job_cleaned'].apply(
            lambda x: skill_keyword_match(x, [keyword])
        )
    
    return data
skill_keywords = ['python', 'java', 'excel', 'sql', 'leadership', 'data']
# Apply preprocessing and feature engineering
train_data = preprocess_and_engineer_related_skills(train_data)
display(train_data[['related_skils_in_job_cleaned', 'num_skills'] + [f'contains_{key}' for key in skill_keywords]])

,related_skils_in_job_cleaned,num_skills,contains_python,contains_java,contains_excel,contains_sql,contains_leadership,contains_data
0,big data,1,0,0,0,0,0,1
1,"data analysis, business analysis, machine learning",3,0,0,0,0,0,1
2,"unified payment interface, risk prediction, big data, spark, pyspark",5,0,0,0,0,0,1
3,"accounts receivables, banking, gl accounts, accounts payables, credit cards, reconcile, commission reports, credit checks, customer service, international travel, data entry, accounts receivable, cash handling, customer communication, inventory reports, problemsolving, mortgage processing, analytical aptitude, credit reports, customer communication, commercial auto underwriting, data entry, application review, customer communication, personal auto underwriting, data entry, policy review, customer service, training, medical record review, data entry, document design, customer service, team performance",34,0,0,0,0,0,1
4,"collections, accounts receivable, financial reports, ar aging, customer queries, sales and use tax audits, financial statements, gaap, asset, liability, capital account, accounting controls, audits, sales tax, tax returns, business licenses, annual reports, tax audits, financial reporting, fixed assets, sales tax, cash projections, general ledger accounting, audit procedures, substantive tests, internal accounting, tests of compliance, audit programs",28,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
7630,"javascript, teaching, program development, technical support, database design, software testing, agilescrum, code writing, cicd",9,0,1,0,0,0,1
7631,none,1,0,0,0,0,0,0
7632,"machine learning, software engineering, feature engineering, evaluation methods",4,0,0,0,0,0,0
7633,"accounts payables, financial transactions, accounting, accounts payables, bank reconciliation, financial reports, invoicing, accounts receivables, payroll, bookkeeping, bank reconciliation, sales",12,0,0,0,0,0,0
7634,"project management, engineering, technical coordination, aircraft maintenance, technical support, engineering change management, project planning, aircraft maintenance, technical supervision, quality control, system calibration",11,0,0,0,0,0,0

In [224]:
train.columns

Index(['address', 'career_objective', 'skills', 'educational_institution_name',
       'degree_names', 'passing_years', 'educational_results', 'result_types',
       'major_field_of_studies', 'professional_company_names', 'company_urls',
       'start_dates', 'end_dates', 'related_skils_in_job', 'positions',
       'locations', 'responsibilities', 'extra_curricular_activity_types',
       'extra_curricular_organization_names',
       'extra_curricular_organization_links', 'role_positions', 'languages',
       'proficiency_levels', 'certification_providers', 'certification_skills',
       'online_links', 'issue_dates', 'expiry_dates', '﻿job_position_name',
       'educationaL_requirements', 'experiencere_requirement',
       'age_requirement', 'responsibilities.1', 'skills_required',
       'matched_score'],
      dtype='object')

In [225]:
#position

In [228]:
import re

def preprocess_and_engineer_positions(data):
    """
    Preprocess and engineer features for the positions column.
    """
    def clean_positions(text):
        """
        Clean and normalize the positions list.
        """
        if not isinstance(text, str):
            return "unknown"
        text = text.lower()
        text = re.sub(r'[^a-z0-9,\s]', '', text)  # Remove special characters except commas
        text = re.sub(r'\s+', ' ', text).strip()  # Normalize whitespace
        return text
    
    def count_positions(text):
        """
        Count the number of positions listed.
        """
        if text == "unknown":
            return 0
        return len([position.strip() for position in text.split(',') if position.strip()])
    
    def position_keyword_match(text, keywords):
        """
        Check for the presence of specific keywords in the positions list.
        """
        return int(any(keyword in text for keyword in keywords))

    # Clean the positions column
    data['positions_cleaned'] = data['positions'].apply(clean_positions)
    
    # Feature Engineering: Count the number of positions
    data['num_positions'] = data['positions_cleaned'].apply(count_positions)
    
    # Feature Engineering: Check for the presence of specific positions
    position_keywords = ['manager', 'developer', 'analyst', 'engineer', 'consultant', 'executive']
    for keyword in position_keywords:
        data[f'contains_{keyword}'] = data['positions_cleaned'].apply(
            lambda x: position_keyword_match(x, [keyword])
        )
    
    return data

# Apply preprocessing and feature engineering
train_data = preprocess_and_engineer_positions(train_data)
position_keywords = ['manager', 'developer', 'analyst', 'engineer', 'consultant', 'executive']
display(train_data[['positions_cleaned', 'num_positions'] + [f'contains_{key}' for key in position_keywords]])

,positions_cleaned,num_positions,contains_manager,contains_developer,contains_analyst,contains_engineer,contains_consultant,contains_executive
0,big data analyst,1,0,0,1,0,0,0
1,business analyst,1,0,0,1,0,0,0
2,software developer machine learning engineer,1,0,1,0,1,0,0
3,"accountant, accounts receivable clerk, mortgage underwriter, commercial auto underwriter, personal auto underwriter, claims examiner",6,0,0,0,0,0,0
4,"staff accountant, senior accountant, tax analyst, staff accountant ii, staff auditor ii",5,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...
7630,"computer science teacher, software engineer, junior software engineer",3,0,0,0,1,0,0
7631,analyst intern,1,0,0,1,0,0,0
7632,software engineer,1,0,0,0,1,0,0
7633,"accountant, accountant payables accounting clerk, junior accountant, accountant cum secretary",4,0,0,0,0,0,0
7634,"engineering project manager iii, field engineermaintenance support engineer, aircraft mechanic electrician avionics technician",3,1,0,0,1,0,0

In [229]:
#locations

In [237]:
import re

def preprocess_and_engineer_locations(data):
    """
    Preprocess and engineer features for the locations column.
    """
    def clean_locations(text):
        """
        Clean and normalize the location list.
        """
        if not isinstance(text, str):
            return "unknown"
        text = text.lower()
        text = re.sub(r'[^a-z0-9,\s]', '', text)  # Remove special characters except commas
        text = re.sub(r'\s+', ' ', text).strip()  # Normalize whitespace
        return text
    
    def count_locations(text):
        """
        Count the number of locations listed.
        """
        if text == "unknown":
            return 0
        return len([loc.strip() for loc in text.split(',') if loc.strip()])
    
    def location_keyword_match(text, keywords):
        """
        Check for the presence of specific location keywords.
        """
        return int(any(keyword in text for keyword in keywords))
    
    def classify_location(text):
        """
        Classify the type of location: remote, international, or domestic.
        """
        if "remote" in text:
            return "remote"
        elif any(keyword in text for keyword in ['usa', 'uk', 'canada', 'india', 'bangladesh']):
            return "domestic"
        else:
            return "international"

    # Clean the locations column
    data['locations_cleaned'] = data['locations'].apply(clean_locations)
    
    # Feature Engineering: Count the number of locations
    data['num_locations'] = data['locations_cleaned'].apply(count_locations)
    
    # Feature Engineering: Check for specific location keywords
    location_keywords = ['remote', 'usa', 'india', 'bangladesh', 'uk', 'canada']
    for keyword in location_keywords:
        data[f'contains_{keyword}'] = data['locations_cleaned'].apply(
            lambda x: location_keyword_match(x, [keyword])
        )
    
    # Feature Engineering: Classify location type
    data['location_type'] = data['locations_cleaned'].apply(classify_location)
    
    return data

# Apply preprocessing and feature engineering
train_data = preprocess_and_engineer_locations(train_data)

# Display the processed DataFrame
display(train_data[['locations_cleaned', 'num_locations'] + [f'contains_{key}' for key in ['remote', 'usa', 'india', 'bangladesh', 'uk', 'canada']]].head(50))

,locations_cleaned,num_locations,contains_remote,contains_usa,contains_india,contains_bangladesh,contains_uk,contains_canada
0,na,1,0,0,0,0,0,0
1,na,1,0,0,0,0,0,0
2,na,1,0,0,0,0,0,0
3,"city, state, city, state, city, state, city, state, city, state, na",11,0,0,0,0,0,0
4,"city, state, city, state, city, state, city, state, city, state",10,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
45,"city, state, city, state, city, state",6,0,0,0,0,0,0
46,"city, state, city, state, city, state, city, state",8,0,0,0,0,0,0
47,"princeton, nj, remote, cherry hill, nj",5,1,0,0,0,0,0
48,"city, state, city, state, city, state, city, state",8,0,0,0,0,0,0
49,na,1,0,0,0,0,0,0

In [236]:
train_data["locations"].head(50)

0                                                                                ['N/A']
1                                                                                ['N/A']
2                                                                                ['N/A']
3     ['City, State', 'City, State', 'City, State', 'City, State', 'City, State', 'N/A']
4            ['City, State', 'City, State', 'City, State', 'City, State', 'City, State']
                                             ...
45                                         ['City, State', 'City, State', 'City, State']
46                          ['City, State', 'City, State', 'City, State', 'City, State']
47                                        ['Princeton, NJ', 'Remote', 'Cherry Hill, NJ']
48                          ['City, State', 'City, State', 'City, State', 'City, State']
49                                                                               ['N/A']
Name: locations, Length: 50, dtype: object

In [238]:
# responsibilities

In [241]:
def preprocess_and_engineer_responsibilities(data):
    """
    Preprocess and engineer features for the responsibilities column.
    """
    def clean_responsibilities(text):
        """
        Clean and normalize responsibilities text.
        """
        if not isinstance(text, str):
            return "unknown"
        text = text.lower()
        text = re.sub(r'[^a-z0-9.\s]', '', text)  # Remove special characters except periods
        text = re.sub(r'\s+', ' ', text).strip()  # Normalize whitespace
        return text
    
    def count_words(text):
        """
        Count the number of words in the responsibilities text.
        """
        if text == "unknown":
            return 0
        return len(text.split())
    
    def count_sentences(text):
        """
        Count the number of sentences in the responsibilities text.
        """
        if text == "unknown":
            return 0
        return len([sentence.strip() for sentence in text.split('.') if sentence.strip()])
    
    def keyword_match(text, keywords):
        """
        Check for the presence of specific keywords in the responsibilities text.
        """
        return int(any(keyword in text for keyword in keywords))

    # Clean the responsibilities column
    data['responsibilities_cleaned'] = data['responsibilities'].apply(clean_responsibilities)
    
    # Feature Engineering: Word count
    data['responsibilities_word_count'] = data['responsibilities_cleaned'].apply(count_words)
    
    # Feature Engineering: Sentence count
    data['responsibilities_sentence_count'] = data['responsibilities_cleaned'].apply(count_sentences)
    
    # Feature Engineering: Check for specific keywords
    keywords = ['manage', 'develop', 'coordinate', 'lead', 'analyze', 'design']
    for keyword in keywords:
        data[f'responsibilities_contains_{keyword}'] = data['responsibilities_cleaned'].apply(
            lambda x: keyword_match(x, [keyword])
        )
    
    return data

# Apply preprocessing and feature engineering
train_data = preprocess_and_engineer_responsibilities(train_data)
keywords = ['manage', 'develop', 'coordinate', 'lead', 'analyze', 'design']
# Display the processed DataFrame
display(train_data[['responsibilities_cleaned', 'responsibilities_word_count', 'responsibilities'] + [f'responsibilities_contains_{key}' for key in keywords]].head(50))

,responsibilities_cleaned,responsibilities_word_count,responsibilities,responsibilities_contains_manage,responsibilities_contains_develop,responsibilities_contains_coordinate,responsibilities_contains_lead,responsibilities_contains_analyze,responsibilities_contains_design
0,technical support troubleshooting collaboration documentation system monitoring software deployment training mentorship industry trends field visits,15,Technical Support\nTroubleshooting\nCollaboration\nDocumentation\nSystem Monitoring\nSoftware Deployment\nTraining & Mentorship\nIndustry Trends\nField Visits\n\n\n\n\n,0,0,0,0,0,0
1,machine learning leadership crossfunctional collaboration strategy development mlnlp infrastructure prototype transformation ml system design algorithm research application development dataset selection ml testing statistical analysis rd in mlnlp text representation data pipeline design statistical data analysis model training team collaboration research reporting algorithm analysis,43,Machine Learning Leadership\nCross-Functional Collaboration\nStrategy Development\nML/NLP Infrastructure\nPrototype Transformation\nML System Design\nAlgorithm Research\nApplication Development\nDataset Selection\nML Testing\nStatistical Analysis\nR&D in ML/NLP\nText Representation\nData Pipeline Design\nStatistical Data Analysis\nModel Training\nTeam Collaboration\nResearch Reporting\nAlgorithm Analysis,0,1,0,1,0,1
2,trade marketing executive brand visibility sales targets field marketing campaigns product distribution brand head excel kpis tracking,17,"Trade Marketing Executive\nBrand Visibility, Sales Targets\nField Marketing, Campaigns, Product Distribution\nBrand Head\nExcel, KPIs Tracking",0,0,0,0,0,0
3,apparel sourcing quality garment sourcing reliable partner buyervendor communication,9,Apparel Sourcing\nQuality Garment Sourcing\nReliable Partner\nBuyer/Vendor Communication,0,0,0,0,0,0
4,ios lifecycle requirement analysis native frameworks ios development api integration technical communication ui design performance optimization feature collaboration bug fixing code translation highperformance development task management crossteam collaboration code quality,30,iOS Lifecycle\nRequirement Analysis\nNative Frameworks\niOS Development\nAPI Integration\nTechnical Communication\nUI Design\nPerformance Optimization\nFeature Collaboration\nBug Fixing\nCode Translation\nHigh-Performance Development\nTask Management\nCross-Team Collaboration\nCode Quality,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...
45,data platform design data pipeline development etl processes sql query optimization data integration transformation data modeling stakeholder collaboration data quality monitoring continuous learning,23,Data Platform Design\nData Pipeline Development\nETL Processes\nSQL Query Optimization\nData Integration & Transformation\nData Modeling\nStakeholder Collaboration\nData Quality Monitoring\nContinuous Learning,0,1,0,0,0,1
46,data platform design data pipeline development etl processes sql query optimization data integration transformation data modeling stakeholder collaboration data quality monitoring continuous learning,23,Data Platform Design\nData Pipeline Development\nETL Processes\nSQL Query Optimization\nData Integration & Transformation\nData Modeling\nStakeholder Collaboration\nData Quality Monitoring\nContinuous Learning,0,1,0,0,0,1
47,design review coordination proposal preparation feasibility analysis software utilization supervision technical support submission review progress reporting compliance site visits,19,Design Review\nCoordination\nProposal Preparation\nFeasibility Analysis\nSoftware Utilization\nSupervision\nTechnical Support\nSubmission Review\nProgress Reporting\nCompliance\nSite Visits,0,0,0,0,0,1
48,machine learning leadership crossfunctional collaboration strategy development mlnlp infrastructure prototype transformation ml system design algorithm research application development dataset selection ml testing statistical analysis rd in mlnlp text representation data pipeline design statistical data analysis model training team collaboration research reporting algorithm analysis,43,Machine Learning Leadership\nCross-Functional Collaboration\nStrategy Development\nML/NLP Infrastructure\nPrototype Transformation\nML System Design\nAlgorithm Research\nApplication Development\nDataset Selection\nML Testing\nStatistical Analysis\nR&D in ML/NLP\nText Representation\nData Pipeline Design\nStatistical Data Analysis\nModel Training\nTeam Collaboration\nResearch Reporting\nAlgorithm Analysis,0,1,0,1,0,1
49,application development objectoriented design collaboration problemsolving software lifecycle innovation software testing system analysis performance monitoring plugin development documentation integration support,20,Application Development\nObject-Oriented Design\nCollaboration\nProblem-Solving\nSoftware Lifecycle\nInnovation\nSoftware Testing\nSystem Analysis\nPerformance Monitoring\nPlugin Development\nDocumentation\nIntegration Support,0,1,0,0,0,1

In [243]:
import re

def preprocess_and_engineer_extra_curricular_activities(data):
    """
    Preprocess and engineer features for the extra_curricular_activity_types column.
    """
    def clean_activity_types(text):
        """
        Clean and normalize the activity types list.
        """
        if not isinstance(text, str):
            return "unknown"
            
        text = text.lower()
        text = re.sub(r'[^a-z0-9,\s]', '', text)  # Remove special characters except commas
        text = re.sub(r'\s+', ' ', text).strip()  # Normalize whitespace
        return text
    
    def count_activity_types(text):
        """
        Count the number of activity types listed.
        """
        if text == "unknown":
            return 0
        return len([activity.strip() for activity in text.split(',') if activity.strip()])
    
    def activity_keyword_match(text, keywords):
        """
        Check for the presence of specific activity keywords in the list.
        """
        return int(any(keyword in text for keyword in keywords))
    
    # Clean the extra_curricular_activity_types column
    data['extra_curricular_activity_types_cleaned'] = data['extra_curricular_activity_types'].apply(clean_activity_types)
    
    # Feature Engineering: Count the number of activity types
    data['num_activity_types'] = data['extra_curricular_activity_types_cleaned'].apply(count_activity_types)
    
    # Feature Engineering: Check for the presence of specific activity types
    activity_keywords = ['sports', 'volunteering', 'arts', 'music', 'debate', 'coding']
    for keyword in activity_keywords:
        data[f'contains_{keyword}'] = data['extra_curricular_activity_types_cleaned'].apply(
            lambda x: activity_keyword_match(x, [keyword])
        )
    
    return data

# Apply preprocessing and feature engineering
train_data = preprocess_and_engineer_extra_curricular_activities(train_data)

# Display the processed DataFrame
display(train_data[['extra_curricular_activity_types_cleaned', 'num_activity_types'] + [f'contains_{key}' for key in['sports', 'volunteering', 'arts', 'music', 'debate', 'coding']]].head(50))

,extra_curricular_activity_types_cleaned,num_activity_types,contains_sports,contains_volunteering,contains_arts,contains_music,contains_debate,contains_coding
0,unknown,0,0,0,0,0,0,0
1,unknown,0,0,0,0,0,0,0
2,unknown,0,0,0,0,0,0,0
3,unknown,0,0,0,0,0,0,0
4,"professional organization, honor society, honor society, honor society",4,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
45,"membership, volunteering",2,0,1,0,0,0,0
46,unknown,0,0,0,0,0,0,0
47,unknown,0,0,0,0,0,0,0
48,unknown,0,0,0,0,0,0,0
49,na,1,0,0,0,0,0,0

In [246]:
def preprocess_and_engineer_organization_names(data):
    """
    Preprocess and engineer features for the extra_curricular_organization_names column.
    """
    def clean_organizations(text):
        """
        Clean and normalize the organization names list.
        """
        if not isinstance(text, str):
            return []
        # Convert string to list if represented as a stringified list
        try:
            org_list = eval(text) if text.startswith('[') else [text]
        except:
            org_list = [text]
        # Clean and normalize each organization name, skip None values
        org_list = [
            re.sub(r'[^a-z0-9\s&]', '', org.lower().strip()) 
            for org in org_list if isinstance(org, str) and org
        ]
        # Remove duplicates
        return list(set(org_list))
    
    def count_organizations(org_list):
        """
        Count the number of organizations in the list.
        """
        return len(org_list)
    
    def organization_keyword_match(org_list, keywords):
        """
        Check for the presence of specific keywords in the organization names.
        """
        return int(any(keyword in org for org in org_list for keyword in keywords))
    
    # Clean the extra_curricular_organization_names column
    data['organization_names_cleaned'] = data['extra_curricular_organization_names'].apply(clean_organizations)
    
    # Feature Engineering: Count the number of organizations
    data['num_organizations'] = data['organization_names_cleaned'].apply(count_organizations)
    
    # Feature Engineering: Check for specific keywords in organization names
    organization_keywords = ['university', 'club', 'society', 'association', 'foundation']
    for keyword in organization_keywords:
        data[f'contains_{keyword}'] = data['organization_names_cleaned'].apply(
            lambda x: organization_keyword_match(x, [keyword])
        )
    
    return data

# Apply preprocessing and feature engineering
train_data = preprocess_and_engineer_organization_names(train_data)

# Display the processed DataFrame
# import ace_tools as tools; tools.display_dataframe_to_user(name="Processed Extra Curricular Organization Names", dataframe=train_data)

In [247]:
display(train_data[['organization_names_cleaned', 'num_organizations'] + [f'contains_{key}' for key in ['university', 'club', 'society', 'association', 'foundation']]].head(50))

,organization_names_cleaned,num_organizations,contains_university,contains_club,contains_society,contains_association,contains_foundation
0,[],0,0,0,0,0,0
1,[],0,0,0,0,0,0
2,[],0,0,0,0,0,0
3,[],0,0,0,0,0,0
4,"[beta gamma sigma, beta alpha psi, golden key international honour society, ohio society of cpas]",4,0,0,1,0,0
...,...,...,...,...,...,...,...
45,"[bluesat basic low earth orbit unsw experimental satellite group, karabi community & development services]",2,0,0,0,0,0
46,[],0,0,0,0,0,0
47,[],0,0,0,0,0,0
48,[],0,0,0,0,0,0
49,[na],1,0,0,0,0,0

In [266]:
# role_positions

In [268]:
import re

def preprocess_and_engineer_role_positions(data):
    """
    Preprocess and engineer features for the role_positions column.
    """
    def clean_role_positions(roles):
        """
        Clean and normalize the role positions list.
        """
        if pd.isna(roles):
            return ["unknown"]
        try:
            # Convert string representation of list to an actual list
            roles_list = eval(roles) if isinstance(roles, str) else roles
            cleaned_roles = [
                re.sub(r'[^a-z0-9\s]', '', role.strip().lower()) for role in roles_list if role
            ]
            return list(set(cleaned_roles))  # Remove duplicates
        except:
            return ["unknown"]

    def count_roles(roles):
        """
        Count the number of unique roles listed.
        """
        return len(roles) if isinstance(roles, list) else 0

    def role_keyword_match(roles, keywords):
        """
        Check for the presence of specific role keywords in the list.
        """
        if not isinstance(roles, list):
            return 0
        return int(any(keyword in role for role in roles for keyword in keywords))
    
    # Clean the role_positions column
    data['role_positions_cleaned'] = data['role_positions'].apply(clean_role_positions)
    
    # Feature Engineering: Count the number of unique roles
    data['num_roles'] = data['role_positions_cleaned'].apply(count_roles)
    
    # Feature Engineering: Check for specific role keywords
    role_keywords = ['manager', 'developer', 'engineer', 'analyst', 'designer', 'consultant']
    
    for keyword in role_keywords:
        data[f'is_{keyword}'] = data['role_positions_cleaned'].apply(
            lambda x: role_keyword_match(x, [keyword])
        )
    
    return data

# Apply preprocessing and feature engineering
train_data = preprocess_and_engineer_role_positions(train_data)

# Display the processed DataFrame
display(train_data[['role_positions','role_positions_cleaned', 'num_roles'] + [f'is_{key}' for key in  ['manager', 'developer', 'engineer', 'analyst', 'designer', 'consultant']]].head(50))

,role_positions,role_positions_cleaned,num_roles,is_manager,is_developer,is_engineer,is_analyst,is_designer,is_consultant
0,NaN,[unknown],1,0,0,0,0,0,0
1,NaN,[unknown],1,0,0,0,0,0,0
2,NaN,[unknown],1,0,0,0,0,0,0
3,NaN,[unknown],1,0,0,0,0,0,0
4,"[None, None, None, None]",[],0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
45,"['Engineer', 'Social Support and Youth Services Volunteer']","[engineer, social support and youth services volunteer]",2,0,0,1,0,0,0
46,NaN,[unknown],1,0,0,0,0,0,0
47,NaN,[unknown],1,0,0,0,0,0,0
48,NaN,[unknown],1,0,0,0,0,0,0
49,['Data Science with Python'],[data science with python],1,0,0,0,0,0,0

In [269]:
# languages

In [271]:
import re

def preprocess_and_engineer_languages(data):
    """
    Preprocess and engineer features for the languages column.
    """
    def clean_languages(text):
        """
        Clean and normalize the languages list.
        """
        if pd.isna(text):
            return ["unknown"]
        text = text.lower()
        text = re.sub(r'[^a-z,\s]', '', text)  # Remove special characters except commas
        text = re.sub(r'\s+', ' ', text).strip()  # Normalize whitespace
        return list(set(text.split(',')))  # Split into unique languages

    def count_languages(languages_list):
        """
        Count the number of unique languages listed.
        """
        return len(languages_list) if isinstance(languages_list, list) else 0

    def language_keyword_match(languages_list, keyword):
        """
        Check for the presence of a specific language keyword in the list.
        """
        if not isinstance(languages_list, list):
            return 0
        return int(keyword in languages_list)

    # Clean the languages column
    data['languages_cleaned'] = data['languages'].apply(clean_languages)
    
    # Feature Engineering: Count the number of languages
    data['num_languages'] = data['languages_cleaned'].apply(count_languages)
    
    # Feature Engineering: Check for specific languages
    language_keywords = ['english', 'spanish', 'french', 'german', 'hindi', 'mandarin']
    for keyword in language_keywords:
        data[f'knows_{keyword}'] = data['languages_cleaned'].apply(
            lambda x: language_keyword_match(x, keyword)
        )
    
    return data

# Apply preprocessing and feature engineering
if 'languages' in train_data.columns:
    train_data = preprocess_and_engineer_languages(train_data)

# Display the processed DataFrame
display(train_data[['languages_cleaned','num_languages', 'num_roles'] + [f'knows_{key}' for key in  ['english', 'spanish', 'french', 'german', 'hindi', 'mandarin']]].head(40))

,languages_cleaned,num_languages,num_roles,knows_english,knows_spanish,knows_french,knows_german,knows_hindi,knows_mandarin
0,[unknown],1,1,0,0,0,0,0,0
1,[unknown],1,1,0,0,0,0,0,0
2,[unknown],1,1,0,0,0,0,0,0
3,[unknown],1,1,0,0,0,0,0,0
4,[unknown],1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
35,[unknown],1,1,0,0,0,0,0,0
36,[unknown],1,1,0,0,0,0,0,0
37,[unknown],1,0,0,0,0,0,0,0
38,[unknown],1,1,0,0,0,0,0,0
39,[unknown],1,1,0,0,0,0,0,0

In [316]:
import pandas as pd
import re

def preprocess_and_engineer_proficiency_levels(data):
    """
    Preprocess and engineer features for the proficiency_levels column.
    """
    def clean_proficiency_list(proficiencies):
        """
        Clean and normalize the list of proficiencies.
        """
        if pd.isna(proficiencies):
            return ["unknown"]
        try:
            # Convert string representation of list to an actual list
            prof_list = eval(proficiencies) if isinstance(proficiencies, str) else proficiencies
            cleaned = [
                re.sub(r'[^a-z\s]', '', prof.strip().lower()) for prof in prof_list if prof
            ]
            return list(set(cleaned))  # Remove duplicates
        except:
            return ["unknown"]

    def count_proficiencies(proficiencies):
        """
        Count the number of unique proficiencies.
        """
        return len(proficiencies) if (isinstance(proficiencies, list) and len(proficiencies) > 0 and proficiencies[0] != 'unknown' and proficiencies[0] != 'na')  else 0

    def proficiency_keyword_match(proficiencies, keyword):
        """
        Check for the presence of a specific proficiency in the list.
        """
        if not isinstance(proficiencies, list):
            return 0
        return int(keyword in proficiencies)

    # Clean the proficiency_levels column
    data['proficiency_levels_cleaned'] = data['proficiency_levels'].apply(clean_proficiency_list)
    
    # Feature Engineering: Count the number of proficiencies
    data['num_proficiencies'] = data['proficiency_levels_cleaned'].apply(count_proficiencies)
    
    # Feature Engineering: Check for specific proficiencies
    proficiency_keywords = ['fluent', 'native', 'proficient', 'advanced', 'bilingual']
    for keyword in proficiency_keywords:
        data[f'is_{keyword}'] = data['proficiency_levels_cleaned'].apply(
            lambda x: proficiency_keyword_match(x, keyword)
        )
    
    return data

# Apply preprocessing and feature engineering
train_data = preprocess_and_engineer_proficiency_levels(train_data)

# Display a sample of the processed data
proficiency_keywords = ['fluent', 'native', 'proficient', 'advanced', 'bilingual']
train_data[['proficiency_levels', 'proficiency_levels_cleaned', 'num_proficiencies'] + 
                 [f'is_{key}' for key in proficiency_keywords]].head(20)

,proficiency_levels,proficiency_levels_cleaned,num_proficiencies,is_fluent,is_native,is_proficient,is_advanced,is_bilingual
0,NaN,[unknown],0,0,0,0,0,0
1,NaN,[unknown],0,0,0,0,0,0
2,NaN,[unknown],0,0,0,0,0,0
3,NaN,[unknown],0,0,0,0,0,0
4,NaN,[unknown],0,0,0,0,0,0
5,NaN,[unknown],0,0,0,0,0,0
6,NaN,[unknown],0,0,0,0,0,0
7,['N/A'],[na],1,0,0,0,0,0
8,NaN,[unknown],0,0,0,0,0,0
9,NaN,[unknown],0,0,0,0,0,0
10,NaN,[unknown],0,0,0,0,0,0
11,NaN,[unknown],0,0,0,0,0,0
12,NaN,[unknown],0,0,0,0,0,0
13,NaN,[unknown],0,0,0,0,0,0
14,NaN,[unknown],0,0,0,0,0,0
15,NaN,[unknown],0,0,0,0,0,0
16,NaN,[unknown],0,0,0,0,0,0
17,NaN,[unknown],0,0,0,0,0,0
18,NaN,[unknown],0,0,0,0,0,0
19,NaN,[unknown],0,0,0,0,0,0

In [280]:
# certification_providers

In [291]:
train_data["certification_providers"].isnull().sum(), train_data["certification_providers"].isnull().mean()

(6048, 0.7921414538310413)

In [315]:
def preprocess_and_engineer_certification_providers(data):
    """
    Preprocess and engineer features for the certification_providers column,
    including an 'other' category for uncommon providers.
    """
    def clean_certification_providers(providers):
        """
        Clean and normalize the list of certification providers.
        """
        if pd.isna(providers):
            return ["unknown"]
        try:
            # Convert string representation of list to an actual list
            providers_list = eval(providers) if isinstance(providers, str) else providers
            cleaned = [
                re.sub(r'[^a-z0-9\s]', '', provider.strip().lower()) for provider in providers_list if provider
            ]
            return list(set(cleaned))  # Remove duplicates
        except:
            return ["unknown"]

    def categorize_providers(providers, common_providers):
        """
        Separate common and uncommon providers.
        """
        if not isinstance(providers, list):
            return {"common": [], "other": []}
        common = [provider for provider in providers if provider in common_providers]
        other = [provider for provider in providers if provider not in common_providers]
        return {"common": common, "other": other}

    # Clean the certification_providers column
    data['certification_providers_cleaned'] = data['certification_providers'].apply(clean_certification_providers)
    
    # Define common providers
    common_providers = ['coursera', 'linkedin learning', 'udemy', 'google', 'microsoft', 'aws']
    
    # Categorize providers into common and other
    categorized_providers = data['certification_providers_cleaned'].apply(
        lambda x: categorize_providers(x, common_providers)
    )
    data['common_providers'] = categorized_providers.apply(lambda x: x['common'])
    data['other_providers'] = categorized_providers.apply(lambda x: x['other'])
    
    # Feature Engineering: Count the number of providers in each category
    data['num_common_providers'] = data['common_providers'].apply(len)
    data['num_other_providers'] = data['other_providers'].apply(len)
    
    return data

# Apply preprocessing and feature engineering
train_data = preprocess_and_engineer_certification_providers(train_data)

# Display the processed DataFrame
display(train_data[['certification_providers_cleaned','num_certification_providers', 'other_providers'] + [f'is_{key.replace(" ", "_")}' for key in  ['coursera', 'linkedin learning', 'udemy', 'google', 'microsoft', 'aws']]].head(30))

,certification_providers_cleaned,num_certification_providers,other_providers,is_coursera,is_linkedin_learning,is_udemy,is_google,is_microsoft,is_aws
0,[unknown],0,[unknown],0,0,0,0,0,0
1,[unknown],0,[unknown],0,0,0,0,0,0
2,[unknown],0,[unknown],0,0,0,0,0,0
3,[unknown],0,[unknown],0,0,0,0,0,0
4,[ohio notary public],1,[ohio notary public],0,0,0,0,0,0
5,[microsoft certification],1,[microsoft certification],0,0,0,0,0,0
6,[unknown],0,[unknown],0,0,0,0,0,0
7,[ait],1,[ait],0,0,0,0,0,0
8,[google cloud],1,[google cloud],0,0,0,0,0,0
9,[unknown],0,[unknown],0,0,0,0,0,0
10,[unknown],0,[unknown],0,0,0,0,0,0
11,[na],1,[na],0,0,0,0,0,0
12,[unknown],0,[unknown],0,0,0,0,0,0
13,"[coursera, udemy, sololearn]",3,[sololearn],1,0,1,0,0,0
14,"[owasp, aws]",2,[owasp],0,0,0,0,0,1
15,[aws],1,[],0,0,0,0,0,1
16,[unknown],0,[unknown],0,0,0,0,0,0
17,[unknown],0,[unknown],0,0,0,0,0,0
18,"[owasp, aws]",2,[owasp],0,0,0,0,0,1
19,[unknown],0,[unknown],0,0,0,0,0,0
20,[new york state],1,[new york state],0,0,0,0,0,0
21,[unknown],0,[unknown],0,0,0,0,0,0
22,[unknown],0,[unknown],0,0,0,0,0,0
23,[unknown],0,[unknown],0,0,0,0,0,0
24,[unknown],0,[unknown],0,0,0,0,0,0
25,"[csm, aws]",2,[csm],0,0,0,0,0,1
26,[unknown],0,[unknown],0,0,0,0,0,0
27,[unknown],0,[unknown],0,0,0,0,0,0
28,[unknown],0,[unknown],0,0,0,0,0,0
29,[aws],1,[],0,0,0,0,0,1

In [294]:
# certification_skills

In [295]:
train_data["certification_skills"].isnull().sum(), train_data["certification_skills"].isnull().mean()

(6048, 0.7921414538310413)

In [317]:
def preprocess_and_engineer_certification_skills(data):
    """
    Preprocess and engineer features for the certification_skills column.
    """
    def clean_skills_list(skills):
        """
        Clean and normalize the list of certification skills.
        """
        if pd.isna(skills):
            return ["unknown"]
        try:
            # Convert string representation of list to actual list
            skills_list = eval(skills) if isinstance(skills, str) else skills
            cleaned = [
                re.sub(r'[^a-z0-9\s]', '', skill.strip().lower()) for skill in skills_list if skill
            ]
            return list(set(cleaned))  # Remove duplicates
        except:
            return ["unknown"]

    def count_skills(skills):
        """
        Count the number of unique skills listed.
        """
        return len(skills) if (isinstance(skills, list) and len(skills) > 0 and skills[0] != 'unknown' and skills[0] != 'na')  else 0

    def skill_keyword_match(skills, keywords):
        """
        Check for the presence of specific skill keywords in the list.
        """
        if not isinstance(skills, list):
            return 0
        return int(any(keyword in skill for skill in skills for keyword in keywords))

    # Clean the certification_skills column
    data['certification_skills_cleaned'] = data['certification_skills'].apply(clean_skills_list)
    
    # Feature Engineering: Count the number of skills
    data['num_certification_skills'] = data['certification_skills_cleaned'].apply(count_skills)
    
    # Feature Engineering: Check for specific skills
    skill_keywords = ['python', 'java', 'excel', 'sql', 'data', 'management']
    for keyword in skill_keywords:
        data[f'has_skill_{keyword}'] = data['certification_skills_cleaned'].apply(
            lambda x: skill_keyword_match(x, [keyword])
        )
    
    return data

# Apply preprocessing and feature engineering
train_data = preprocess_and_engineer_certification_skills(train_data)

# Display the processed DataFrame
display(train_data[['certification_skills_cleaned','num_certification_skills'] + [f'has_skill_{key.replace(" ", "_")}' for key in  ['python', 'java', 'excel', 'sql', 'data', 'management']]].head(30))

,certification_skills_cleaned,num_certification_skills,has_skill_python,has_skill_java,has_skill_excel,has_skill_sql,has_skill_data,has_skill_management
0,[unknown],0,0,0,0,0,0,0
1,[unknown],0,0,0,0,0,0,0
2,[unknown],0,0,0,0,0,0,0
3,[unknown],0,0,0,0,0,0,0
4,[],0,0,0,0,0,0,0
5,[],0,0,0,0,0,0,0
6,[unknown],0,0,0,0,0,0,0
7,[],0,0,0,0,0,0,0
8,[],0,0,0,0,0,0,0
9,[unknown],0,0,0,0,0,0,0
10,[unknown],0,0,0,0,0,0,0
11,[],0,0,0,0,0,0,0
12,[unknown],0,0,0,0,0,0,0
13,[unknown],0,0,0,0,0,0,0
14,[],0,0,0,0,0,0,0
15,[],0,0,0,0,0,0,0
16,[unknown],0,0,0,0,0,0,0
17,[unknown],0,0,0,0,0,0,0
18,[],0,0,0,0,0,0,0
19,[unknown],0,0,0,0,0,0,0
20,[],0,0,0,0,0,0,0
21,[unknown],0,0,0,0,0,0,0
22,[unknown],0,0,0,0,0,0,0
23,[unknown],0,0,0,0,0,0,0
24,[unknown],0,0,0,0,0,0,0
25,[],0,0,0,0,0,0,0
26,[unknown],0,0,0,0,0,0,0
27,[unknown],0,0,0,0,0,0,0
28,[unknown],0,0,0,0,0,0,0
29,[],0,0,0,0,0,0,0

In [282]:
# online_links

In [319]:
from urllib.parse import urlparse

def preprocess_and_engineer_online_links(data):
    """
    Preprocess and engineer features for the online_links column.
    """
    def clean_links(links):
        """
        Clean and normalize the list of links.
        """
        if pd.isna(links) or links == "[None]":
            return ["unknown"]
        try:
            links_list = eval(links) if isinstance(links, str) else links
            cleaned = [
                urlparse(link).netloc.replace("www.", "").strip().lower() if link else "unknown"
                for link in links_list
            ]
            return list(set(filter(None, cleaned)))  # Remove duplicates and empty entries
        except:
            return ["unknown"]

    def count_links(links):
        """
        Count the number of valid links in the list.
        """
        return len([link for link in links if link != "unknown"]) if isinstance(links, list) else 0

    def contains_invalid_links(links):
        """
        Check if the list contains invalid or unknown links.
        """
        return int(any(link == "unknown" for link in links)) if isinstance(links, list) else 1

    # Clean the online_links column
    data['online_links_cleaned'] = data['online_links'].apply(clean_links)
    
    # Feature Engineering: Count the number of links
    data['num_links'] = data['online_links_cleaned'].apply(count_links)
    
    # Feature Engineering: Check for invalid links
    data['has_invalid_links'] = data['online_links_cleaned'].apply(contains_invalid_links)
    
    return data

# Apply preprocessing and feature engineering
train_data = preprocess_and_engineer_online_links(train_data)

# Display a sample of the processed data
display(train_data[['online_links_cleaned','num_links', 'has_invalid_links']])

     online_links_cleaned  num_links  has_invalid_links
0               [unknown]          0                  1
1               [unknown]          0                  1
2               [unknown]          0                  1
3               [unknown]          0                  1
4               [unknown]          0                  1
...                   ...        ...                ...
7630            [unknown]          0                  1
7631            [unknown]          0                  1
7632            [unknown]          0                  1
7633            [unknown]          0                  1
7634            [unknown]          0                  1

[7635 rows x 3 columns]

In [283]:
# issue_dates

In [320]:
train_data["issue_dates"].isnull().sum(), train_data["issue_dates"].isnull().mean()

(6048, 0.7921414538310413)

In [321]:
from datetime import datetime
import pandas as pd

def preprocess_and_engineer_issue_dates(data):
    """
    Preprocess and engineer features for the issue_dates column.
    """
    def parse_date_entry(entry):
        """
        Parse individual date entries. Return None for invalid entries.
        """
        try:
            return pd.to_datetime(entry, errors='coerce').date()
        except:
            return None

    def process_issue_dates_column(dates):
        """
        Process the entire issue_dates entry (which might be a list).
        Select the earliest valid date from the list.
        """
        if pd.isna(dates):
            return None
        try:
            dates_list = eval(dates) if isinstance(dates, str) else dates
            parsed_dates = [parse_date_entry(date.strip()) for date in dates_list if date]
            valid_dates = list(filter(None, parsed_dates))  # Exclude None values
            return min(valid_dates) if valid_dates else None  # Get the earliest valid date
        except:
            return None

    # Preprocess and parse the 'issue_dates' column
    data['processed_issue_dates'] = data['issue_dates'].apply(process_issue_dates_column)
    
    # Feature Engineering
    data['issue_year'] = data['processed_issue_dates'].apply(lambda x: x.year if pd.notnull(x) else None)
    data['issue_month'] = data['processed_issue_dates'].apply(lambda x: x.month if pd.notnull(x) else None)
    data['days_since_issue'] = data['processed_issue_dates'].apply(
        lambda x: (pd.Timestamp(datetime.now().date()) - pd.Timestamp(x)).days if pd.notnull(x) else -1
    )
    
    return data

# Apply preprocessing and feature engineering
train_data = preprocess_and_engineer_issue_dates(train_data)

# Display the processed DataFrame
display(train_data[['issue_year','issue_month', 'days_since_issue']].head(30))

    issue_year  issue_month  days_since_issue
0          NaN          NaN                -1
1          NaN          NaN                -1
2          NaN          NaN                -1
3          NaN          NaN                -1
4          NaN          NaN                -1
5       2013.0          5.0              4258
6          NaN          NaN                -1
7          NaN          NaN                -1
8          NaN          NaN                -1
9          NaN          NaN                -1
10         NaN          NaN                -1
11         NaN          NaN                -1
12         NaN          NaN                -1
13      2020.0         12.0              1487
14         NaN          NaN                -1
15         NaN          NaN                -1
16         NaN          NaN                -1
17         NaN          NaN                -1
18         NaN          NaN                -1
19         NaN          NaN                -1
20      2015.0          3.0              3586
21         NaN          NaN                -1
22         NaN          NaN                -1
23         NaN          NaN                -1
24         NaN          NaN                -1
25         NaN          NaN                -1
26         NaN          NaN                -1
27         NaN          NaN                -1
28         NaN          NaN                -1
29         NaN          NaN                -1

In [284]:
# expiry_dates

In [323]:
train_data["expiry_dates"].isnull().sum(), train_data["issue_dates"].isnull().mean()

(6048, 0.7921414538310413)

In [322]:
train_data["expiry_dates"].head()

0                      NaN
1                      NaN
2                      NaN
3                      NaN
4    ['February 15, 2021']
Name: expiry_dates, dtype: object

In [331]:
from datetime import datetime
import pandas as pd

def preprocess_and_engineer_expiry_dates(data):
    """
    Preprocess and engineer features for the expiry_dates column.
    """
    def parse_date_entry(entry):
        """
        Parse individual date entries and convert to a consistent format.
        """
        try:
            return pd.to_datetime(entry, errors='coerce').date()
        except:
            return None
    
    def process_expiry_dates_column(dates):
        """
        Process the expiry_dates entry (which might be a list).
        Select the most recent valid date.
        """
        if pd.isna(dates):
            return None
        try:
            dates_list = eval(dates) if isinstance(dates, str) else dates
            parsed_dates = [parse_date_entry(date.strip()) for date in dates_list if date]
            valid_dates = list(filter(None, parsed_dates))  # Exclude None values
            return max(valid_dates) if valid_dates else None  # Get the most recent valid date
        except:
            return None

    # Preprocess and parse the 'expiry_dates' column
    data['processed_expiry_dates'] = data['expiry_dates'].apply(process_expiry_dates_column)
    
    # Feature Engineering
    data['expiry_year'] = data['processed_expiry_dates'].apply(lambda x: x.year if pd.notnull(x) else None)
    data['expiry_month'] = data['processed_expiry_dates'].apply(lambda x: x.month if pd.notnull(x) else None)
    data['days_until_expiry'] = data['processed_expiry_dates'].apply(
        lambda x: (pd.Timestamp(x) - pd.Timestamp(datetime.now().date())).days if pd.notnull(x) else -1
    )
    data['is_expired'] = data['days_until_expiry'].apply(lambda x: 1 if x < 0 else 0)

    return data

# Apply preprocessing and feature engineering
train_data = preprocess_and_engineer_expiry_dates(train_data)

In [333]:
display(train_data[['expiry_year','expiry_month', 'days_until_expiry','is_expired']].head(30))

    expiry_year  expiry_month  days_until_expiry  is_expired
0           NaN           NaN                 -1           1
1           NaN           NaN                 -1           1
2           NaN           NaN                 -1           1
3           NaN           NaN                 -1           1
4        2021.0           2.0              -1411           1
5           NaN           NaN                 -1           1
6           NaN           NaN                 -1           1
7           NaN           NaN                 -1           1
8           NaN           NaN                 -1           1
9           NaN           NaN                 -1           1
10          NaN           NaN                 -1           1
11          NaN           NaN                 -1           1
12          NaN           NaN                 -1           1
13          NaN           NaN                 -1           1
14          NaN           NaN                 -1           1
15          NaN           NaN                 -1           1
16          NaN           NaN                 -1           1
17          NaN           NaN                 -1           1
18          NaN           NaN                 -1           1
19          NaN           NaN                 -1           1
20          NaN           NaN                 -1           1
21          NaN           NaN                 -1           1
22          NaN           NaN                 -1           1
23          NaN           NaN                 -1           1
24          NaN           NaN                 -1           1
25          NaN           NaN                 -1           1
26          NaN           NaN                 -1           1
27          NaN           NaN                 -1           1
28          NaN           NaN                 -1           1
29          NaN           NaN                 -1           1

In [285]:
# job_position_name

In [357]:
train_data["job_position_name"].isnull().sum(), train_data["job_position_name"].isnull().mean()

(0, 0.0)

In [360]:
import re

def preprocess_and_engineer_job_position(data):
    """
    Preprocess and engineer features for the job_position_name column.
    """
    def clean_job_position(position):
        """
        Clean and normalize the job position name.
        """
        if not isinstance(position, str):
            return "unknown"
        position = position.lower()
        position = re.sub(r'[^a-z\s]', '', position)  # Remove special characters
        position = re.sub(r'\s+', ' ', position).strip()  # Normalize whitespace
        return position

    def extract_role(position, roles):
        """
        Extract simplified roles from the job position name.
        """
        for role in roles:
            if role in position:
                return role
        return "other"

    # Clean the job_position_name column
    data['job_position_cleaned'] = data['job_position_name'].apply(clean_job_position)
    
    # Feature Engineering: Extract primary role
    roles = ['developer', 'engineer', 'manager', 'designer', 'trainee', 'executive', 'administrator']
    data['primary_role'] = data['job_position_cleaned'].apply(lambda x: extract_role(x, roles))
    
    # Feature Engineering: Binary flags for specific roles
    for role in roles:
        data[f'is_{role}'] = data['job_position_cleaned'].apply(lambda x: int(role in x))
    
    return data

# Apply preprocessing and feature engineering
train_data = preprocess_and_engineer_job_position(train_data)

# Display the processed DataFrame

In [361]:
display(train_data[['job_position_cleaned'] + [f'is_{key}' for key in  ['developer', 'engineer', 'manager', 'designer', 'trainee', 'executive', 'administrator']]].head(30))

,job_position_cleaned,is_developer,is_engineer,is_manager,is_designer,is_trainee,is_executive,is_administrator
0,senior software engineer,0,1,0,0,0,0,0
1,machine learning ml engineer,0,1,0,0,0,0,0
2,executive senior executive trade marketing hygiene products,0,0,0,0,0,1,0
3,business development executive,0,0,0,0,0,1,0
4,senior ios engineer,0,1,0,0,0,0,0
5,ai engineer,0,1,0,0,0,0,0
6,senior ios engineer,0,1,0,0,0,0,0
7,senior ios engineer,0,1,0,0,0,0,0
8,mechanical engineer,0,1,0,0,0,0,0
9,business development executive,0,0,0,0,0,1,0
10,mechanical designer,0,0,0,1,0,0,0
11,asst manager manger administrative,0,0,1,0,0,0,0
12,machine learning ml engineer,0,1,0,0,0,0,0
13,mechanical designer,0,0,0,1,0,0,0
14,mechanical engineer,0,1,0,0,0,0,0
15,database administrator dba,0,0,0,0,0,0,1
16,system administrator operation maintenance of server storage service desk system,0,0,0,0,0,0,1
17,executive senior executive trade marketing hygiene products,0,0,0,0,0,1,0
18,project coordinator civil,0,0,0,0,0,0,0
19,executive sr executive it,0,0,0,0,0,1,0
20,mechanical engineer,0,1,0,0,0,0,0
21,network support engineer,0,1,0,0,0,0,0
22,executive senior executive trade marketing hygiene products,0,0,0,0,0,1,0
23,intern generative ai engineering dd image generation,0,1,0,0,0,0,0
24,executive vat,0,0,0,0,0,1,0
25,mechanical engineer,0,1,0,0,0,0,0
26,srofficer executive internal audit,0,0,0,0,0,1,0
27,management trainee mechanical,0,0,0,0,1,0,0
28,machine learning ml engineer,0,1,0,0,0,0,0
29,ai engineer,0,1,0,0,0,0,0

In [286]:
# educationaL_requirements

In [362]:
train_data["educationaL_requirements"].isnull().sum(), train_data["educationaL_requirements"].isnull().mean()

(0, 0.0)

In [364]:
import re

def preprocess_and_engineer_education(data):
    """
    Preprocess and engineer features for the educationaL_requirements column.
    """
    def clean_education(text):
        """
        Normalize and clean education requirements text.
        """
        if not isinstance(text, str):
            return "unknown"
        text = text.lower()
        text = re.sub(r'[^a-z\s&()]', '', text)  # Remove special characters
        text = re.sub(r'\s+', ' ', text).strip()  # Normalize whitespace
        return text

    def extract_degrees(text):
        """
        Extract degree types from the education requirements.
        """
        degrees = ['bachelor', 'master', 'phd', 'diploma', 'honors']
        return [deg for deg in degrees if deg in text]

    def extract_fields(text):
        """
        Extract fields of study from the education requirements.
        """
        fields = ['computer science', 'engineering', 'mechanical engineering', 'civil engineering']
        return [field for field in fields if field in text]
    
    def map_education_level(degrees):
        """
        Map degree types to an ordinal scale.
        """
        level_mapping = {'diploma': 1, 'bachelor': 2, 'master': 3, 'phd': 4}
        levels = [level_mapping[deg] for deg in degrees if deg in level_mapping]
        return max(levels) if levels else 0  # Return highest level or 0 if none

    # Clean the educationaL_requirements column
    data['education_cleaned'] = data['educationaL_requirements'].apply(clean_education)
    
    # Extract degrees and fields
    data['degrees_extracted'] = data['education_cleaned'].apply(extract_degrees)
    data['fields_extracted'] = data['education_cleaned'].apply(extract_fields)
    
    # Feature Engineering: Map education levels
    data['education_level'] = data['degrees_extracted'].apply(map_education_level)
    
    # Feature Engineering: Create binary flags for degrees and fields
    degrees = ['bachelor', 'master', 'phd', 'diploma', 'honors']
    for degree in degrees:
        data[f'is_{degree}'] = data['degrees_extracted'].apply(lambda x: int(degree in x))
    
    fields = ['computer science', 'engineering', 'mechanical engineering', 'civil engineering']
    for field in fields:
        data[f'is_{field.replace(" ", "_")}'] = data['fields_extracted'].apply(lambda x: int(field in x))
    
    return data

# Apply preprocessing and feature engineering
train_data = preprocess_and_engineer_education(train_data)

In [365]:
display(train_data[['education_cleaned','degrees_extracted', 'fields_extracted', 'education_level'] + [f'is_{key.replace(" ", "_")}' for key in  ['computer science', 'engineering', 'mechanical engineering', 'civil engineering']]].head(30))

,education_cleaned,degrees_extracted,fields_extracted,education_level,is_computer_science,is_engineering,is_mechanical_engineering,is_civil_engineering
0,bsc in computer science & engineering from a reputed university,[],"[computer science, engineering]",0,1,1,0,0
1,msc in computer science & engineering or in any relevant discipline from a reputed university,[],"[computer science, engineering]",0,1,1,0,0
2,master of business administration (mba),[master],[],3,0,0,0,0
3,bachelorhonors,"[bachelor, honors]",[],2,0,0,0,0
4,bachelor of science (bsc) in computer science,[bachelor],[computer science],2,1,0,0,0
5,bachelors or masters degree in computer science engineering or a related field,"[bachelor, master]","[computer science, engineering]",3,1,1,0,0
6,bachelor of science (bsc) in computer science,[bachelor],[computer science],2,1,0,0,0
7,bachelor of science (bsc) in computer science,[bachelor],[computer science],2,1,0,0,0
8,bachelor of science (bsc) in mechanical engineering diploma in mechanical,"[bachelor, diploma]","[engineering, mechanical engineering]",2,0,1,1,0
9,bachelorhonors,"[bachelor, honors]",[],2,0,0,0,0
10,bachelors degree in mechanical engineering from a reputed institute,[bachelor],"[engineering, mechanical engineering]",2,0,1,1,0
11,bachelorhonors,"[bachelor, honors]",[],2,0,0,0,0
12,msc in computer science & engineering or in any relevant discipline from a reputed university,[],"[computer science, engineering]",0,1,1,0,0
13,bachelors degree in mechanical engineering from a reputed institute,[bachelor],"[engineering, mechanical engineering]",2,0,1,1,0
14,bachelor of science (bsc) in mechanical engineering diploma in mechanical,"[bachelor, diploma]","[engineering, mechanical engineering]",2,0,1,1,0
15,bachelor of science (bsc) in computer science,[bachelor],[computer science],2,1,0,0,0
16,bachelorhonors,"[bachelor, honors]",[],2,0,0,0,0
17,master of business administration (mba),[master],[],3,0,0,0,0
18,bachelor of business administration (bba) in human resource management,[bachelor],[],2,0,0,0,0
19,bachelor of science (bsc) in computer science & engineering,[bachelor],"[computer science, engineering]",2,1,1,0,0
20,bachelor of science (bsc) in mechanical engineering diploma in mechanical,"[bachelor, diploma]","[engineering, mechanical engineering]",2,0,1,1,0
21,diploma bachelorhonors,"[bachelor, diploma, honors]",[],2,0,0,0,0
22,master of business administration (mba),[master],[],3,0,0,0,0
23,bachelor of science (bsc),[bachelor],[],2,0,0,0,0
24,bba in accounting and finance,[],[],0,0,0,0,0
25,bachelor of science (bsc) in mechanical engineering diploma in mechanical,"[bachelor, diploma]","[engineering, mechanical engineering]",2,0,1,1,0
26,master of commerce (mcom) in accounting must have cacc certification from any ca firm,[master],[],3,0,0,0,0
27,fresh graduates with a bachelors degree in mechanical engineering or a related field,[bachelor],"[engineering, mechanical engineering]",2,0,1,1,0
28,msc in computer science & engineering or in any relevant discipline from a reputed university,[],"[computer science, engineering]",0,1,1,0,0
29,bachelors or masters degree in computer science engineering or a related field,"[bachelor, master]","[computer science, engineering]",3,1,1,0,0

In [287]:
# experiencere_requirement

In [325]:
train_data["experiencere_requirement"].isnull().sum(), train_data["experiencere_requirement"].isnull().mean()

(1086, 0.14223968565815323)

In [367]:
import re

def preprocess_and_engineer_experience_requirement(data):
    """
    Preprocess and engineer features for the experiencere_requirement column.
    """
    def clean_experience_text(text):
        """
        Clean and normalize the experience requirement text.
        """
        if pd.isna(text):
            return "unknown"
        text = text.lower()
        text = re.sub(r'\(s\)', '', text)  # Remove plural indicators
        text = re.sub(r'[^a-z0-9\s]', '', text)  # Remove special characters
        text = re.sub(r'\s+', ' ', text).strip()  # Normalize whitespace
        return text
    
    def extract_min_experience(text):
        """
        Extract the minimum experience from the text.
        """
        match = re.search(r'(\d+)', text)
        return int(match.group(1)) if match else 0
    
    def extract_max_experience(text):
        """
        Extract the maximum experience for ranges (e.g., '1 to 3 years').
        """
        match = re.search(r'(\d+)\s+to\s+(\d+)', text)
        return int(match.group(2)) if match else None
    
    def categorize_experience(min_exp):
        """
        Categorize experience into common ranges.
        """
        if min_exp < 2:
            return "<2 years"
        elif 2 <= min_exp <= 5:
            return "2-5 years"
        else:
            return ">5 years"

    # Clean the experiencere_requirement column
    data['experience_requirement_cleaned'] = data['experiencere_requirement'].apply(clean_experience_text)
    
    # Extract minimum and maximum experience
    data['min_experience'] = data['experience_requirement_cleaned'].apply(extract_min_experience)
    data['max_experience'] = data['experience_requirement_cleaned'].apply(extract_max_experience)
    
    # Categorize experience
    data['experience_category'] = data['min_experience'].apply(categorize_experience)
    
    # Feature Engineering: Flags for common experience ranges
    data['is_less_than_2_years'] = data['min_experience'].apply(lambda x: int(x < 2))
    data['is_between_2_and_5_years'] = data['min_experience'].apply(lambda x: int(2 <= x <= 5))
    data['is_more_than_5_years'] = data['min_experience'].apply(lambda x: int(x > 5))
    
    return data

# Apply preprocessing and feature engineering
train_data = preprocess_and_engineer_experience_requirement(train_data)

# Display the processed DataFrame

In [368]:
display(train_data[['experience_requirement_cleaned','min_experience', 'max_experience', 'experience_category', 'is_less_than_2_years', 'is_between_2_and_5_years', 'is_more_than_5_years']].head(30))

,experience_requirement_cleaned,min_experience,max_experience,experience_category,is_less_than_2_years,is_between_2_and_5_years,is_more_than_5_years
0,at least 1 year,1,NaN,<2 years,1,0,0
1,at least 5 year,5,NaN,2-5 years,0,1,0
2,at least 3 years,3,NaN,2-5 years,0,1,0
3,1 to 3 years,1,3.0,<2 years,1,0,0
4,at least 4 years,4,NaN,2-5 years,0,1,0
5,unknown,0,NaN,<2 years,1,0,0
6,at least 4 years,4,NaN,2-5 years,0,1,0
7,at least 4 years,4,NaN,2-5 years,0,1,0
8,2 to 5 years,2,5.0,2-5 years,0,1,0
9,1 to 3 years,1,3.0,<2 years,1,0,0
10,at least 5 years,5,NaN,2-5 years,0,1,0
11,at least 5 years,5,NaN,2-5 years,0,1,0
12,at least 5 year,5,NaN,2-5 years,0,1,0
13,at least 5 years,5,NaN,2-5 years,0,1,0
14,2 to 5 years,2,5.0,2-5 years,0,1,0
15,at least 1 year,1,NaN,<2 years,1,0,0
16,4 to 5 years,4,5.0,2-5 years,0,1,0
17,at least 3 years,3,NaN,2-5 years,0,1,0
18,5 to 10 years,5,10.0,2-5 years,0,1,0
19,3 to 5 years,3,5.0,2-5 years,0,1,0
20,2 to 5 years,2,5.0,2-5 years,0,1,0
21,at least 3 years,3,NaN,2-5 years,0,1,0
22,at least 3 years,3,NaN,2-5 years,0,1,0
23,unknown,0,NaN,<2 years,1,0,0
24,1 to 3 years,1,3.0,<2 years,1,0,0
25,2 to 5 years,2,5.0,2-5 years,0,1,0
26,2 to 4 years,2,4.0,2-5 years,0,1,0
27,unknown,0,NaN,<2 years,1,0,0
28,at least 5 year,5,NaN,2-5 years,0,1,0
29,unknown,0,NaN,<2 years,1,0,0

In [288]:
# age_requirement

In [326]:
train_data["age_requirement"].isnull().sum(), train_data["age_requirement"].isnull().mean()

(3264, 0.4275049115913556)

In [369]:
def preprocess_and_engineer_age_requirement(data):
    """
    Preprocess and engineer features for the age_requirement column.
    """
    def parse_age_requirement(requirement):
        """
        Extract min and max age from the requirement text.
        """
        if pd.isna(requirement):
            return {"min_age": None, "max_age": None}
        
        requirement = requirement.lower()
        
        # Extract ranges like "22 to 30 years"
        match_range = re.search(r'(\d+)\s*to\s*(\d+)', requirement)
        if match_range:
            return {"min_age": int(match_range.group(1)), "max_age": int(match_range.group(2))}
        
        # Extract "Above 25 years" or "Under 18 years"
        match_above = re.search(r'above\s*(\d+)', requirement)
        match_under = re.search(r'under\s*(\d+)', requirement)
        if match_above:
            return {"min_age": int(match_above.group(1)), "max_age": None}
        if match_under:
            return {"min_age": None, "max_age": int(match_under.group(1))}
        
        # No valid age found
        return {"min_age": None, "max_age": None}

    # Apply parsing logic
    parsed_ages = data['age_requirement'].apply(parse_age_requirement)
    
    # Extract min and max age into separate columns
    data['min_age'] = parsed_ages.apply(lambda x: x['min_age'])
    data['max_age'] = parsed_ages.apply(lambda x: x['max_age'])
    
    # Feature Engineering: Flag if age is specified
    data['is_age_specified'] = data['min_age'].notnull() | data['max_age'].notnull()
    
    # Replace nulls with a placeholder for text representation
    data['age_requirement_cleaned'] = data['age_requirement'].fillna("unknown")
    
    return data

# Apply preprocessing and feature engineering
train_data = preprocess_and_engineer_age_requirement(train_data)

In [370]:
display(train_data[['min_age','max_age', 'is_age_specified', 'age_requirement_cleaned']].head(30))

    min_age  max_age  is_age_specified age_requirement_cleaned
0       NaN      NaN             False                 unknown
1       NaN      NaN             False                 unknown
2       NaN      NaN             False                 unknown
3      22.0     30.0              True      Age 22 to 30 years
4       NaN      NaN             False                 unknown
5       NaN      NaN             False                 unknown
6       NaN      NaN             False                 unknown
7       NaN      NaN             False                 unknown
8      25.0     40.0              True      Age 25 to 40 years
9      22.0     30.0              True      Age 22 to 30 years
10      NaN      NaN             False   Age at least 24 years
11      NaN      NaN             False   Age at least 28 years
12      NaN      NaN             False                 unknown
13      NaN      NaN             False   Age at least 24 years
14     25.0     40.0              True      Age 25 to 40 years
15     25.0     40.0              True      Age 25 to 40 years
16      NaN      NaN             False                 unknown
17      NaN      NaN             False                 unknown
18     30.0     40.0              True      Age 30 to 40 years
19      NaN      NaN             False    Age at most 40 years
20     25.0     40.0              True      Age 25 to 40 years
21     25.0     35.0              True      Age 25 to 35 years
22      NaN      NaN             False                 unknown
23     20.0     35.0              True      Age 20 to 35 years
24      NaN      NaN             False                 unknown
25     25.0     40.0              True      Age 25 to 40 years
26      NaN      NaN             False                 unknown
27      NaN      NaN             False   Age at least 22 years
28      NaN      NaN             False                 unknown
29      NaN      NaN             False                 unknown

In [289]:
# responsibilities

In [329]:
train_data["responsibilities.1"].isnull().sum(), train_data["responsibilities.1"].isnull().mean()

(0, 0.0)

In [372]:
def preprocess_and_engineer_responsibilities(data):
    """
    Preprocess and engineer features for the responsibilities.1 column.
    """
    def clean_responsibilities(text):
        """
        Clean and normalize responsibilities text.
        """
        if pd.isna(text):
            return "unknown"
        text = text.lower()
        text = re.sub(r'[^a-z0-9\s\n]', '', text)  # Remove special characters
        text = re.sub(r'\s+', ' ', text).strip()  # Normalize whitespace
        return text

    def count_responsibilities(text):
        """
        Count the number of responsibilities (lines) in the text.
        """
        if text == "unknown":
            return 0
        return len(text.split('\n'))

    def keyword_match(text, keywords):
        """
        Check for the presence of specific keywords in the responsibilities.
        """
        if text == "unknown":
            return 0
        return int(any(keyword in text for keyword in keywords))

    # Clean the responsibilities.1 column
    data['responsibilities_cleaned'] = data['responsibilities.1'].apply(clean_responsibilities)
    
    # Feature Engineering: Count the number of responsibilities
    data['num_responsibilities'] = data['responsibilities.1'].apply(
        lambda x: len(x.split('\n')) if isinstance(x, str) else 0
    )
    
    # Feature Engineering: Check for specific keywords
    responsibility_keywords = ['machine learning', 'data analysis', 'troubleshooting', 'leadership', 'quality']
    for keyword in responsibility_keywords:
        data[f'contains_{keyword.replace(" ", "_")}'] = data['responsibilities_cleaned'].apply(
            lambda x: keyword_match(x, [keyword])
        )
    
    return data

# Apply preprocessing and feature engineering
train_data = preprocess_and_engineer_responsibilities(train_data)

In [373]:
display(train_data[['responsibilities_cleaned','num_responsibilities'] + [f'contains_{key.replace(" ", "_")}' for key in   ['machine learning', 'data analysis', 'troubleshooting', 'leadership', 'quality']]].head(30))

,responsibilities_cleaned,num_responsibilities,contains_machine_learning,contains_data_analysis,contains_troubleshooting,contains_leadership,contains_quality
0,technical support troubleshooting collaboration documentation system monitoring software deployment training mentorship industry trends field visits,14,0,0,1,0,0
1,machine learning leadership crossfunctional collaboration strategy development mlnlp infrastructure prototype transformation ml system design algorithm research application development dataset selection ml testing statistical analysis rd in mlnlp text representation data pipeline design statistical data analysis model training team collaboration research reporting algorithm analysis,19,1,1,0,1,0
2,trade marketing executive brand visibility sales targets field marketing campaigns product distribution brand head excel kpis tracking,5,0,0,0,0,0
3,apparel sourcing quality garment sourcing reliable partner buyervendor communication,4,0,0,0,0,1
4,ios lifecycle requirement analysis native frameworks ios development api integration technical communication ui design performance optimization feature collaboration bug fixing code translation highperformance development task management crossteam collaboration code quality,15,0,0,0,0,1
5,machine learning design data analysis model training ai integration innovation crossfunctional collaboration model deployment documentation analytical skills communication team collaboration,11,1,1,0,0,0
6,ios lifecycle requirement analysis native frameworks ios development api integration technical communication ui design performance optimization feature collaboration bug fixing code translation highperformance development task management crossteam collaboration code quality,15,0,0,0,0,1
7,ios lifecycle requirement analysis native frameworks ios development api integration technical communication ui design performance optimization feature collaboration bug fixing code translation highperformance development task management crossteam collaboration code quality,15,0,0,0,0,1
8,machinery maintenance troubleshooting report preparation log maintenance,4,0,0,1,0,0
9,apparel sourcing quality garment sourcing reliable partner buyervendor communication,4,0,0,0,0,1
10,design creation cad drawings design optimization team collaboration compliance assurance design reviews manufacturing support documentation,8,0,0,0,0,0
11,administrative support scheduling filing documentation communication team support equipment maintenance information provision inventory management team collaboration ohs policy development safety advice risk assessment policy review ohs training safety inspections unsafe act prevention incident investigation report preparation,18,0,0,0,0,0
12,machine learning leadership crossfunctional collaboration strategy development mlnlp infrastructure prototype transformation ml system design algorithm research application development dataset selection ml testing statistical analysis rd in mlnlp text representation data pipeline design statistical data analysis model training team collaboration research reporting algorithm analysis,19,1,1,0,1,0
13,design creation cad drawings design optimization team collaboration compliance assurance design reviews manufacturing support documentation,8,0,0,0,0,0
14,machinery maintenance troubleshooting report preparation log maintenance,4,0,0,1,0,0
15,database design development sql query optimization data integrity security bi solutions development etl process implementation database maintenance backup restore management index rebuilding performance tuning sql server clustering high availability sql server replication high availability group management database monitoring troubleshooting,12,0,0,1,0,0
16,hardware network installation troubleshooting diagnostics user training capacity building hardware replacement fault repair system setup software license account management backup management system updates maintenance server storage management documentation technical specifications data protection disaster recovery storage database planning power disk backup incident management escalation service restoration user communication verification incident classification resolution major incident escalation problem error management task assignment execution,20,0,0,1,0,0
17,trade marketing executive brand visibility sales targets field marketing campaigns product distribution brand head excel kpis tracking,5,0,0,0,0,0
18,project design data analysis accordalliance knowledge bnbc standards cost estimation feasibility studies documentation compliance site monitoring policy enforcement legal compliance data management team collaboration,13,0,1,0,0,0
19,hardware software installation system monitoring it support networking expertise mail server administration security management troubleshooting repair operations support,8,0,0,1,0,0
20,machinery maintenance troubleshooting report preparation log maintenance,4,0,0,1,0,0
21,mikrotik router configuration olt device setup management integration with billing software network monitoring tools integration connectivity troubleshooting technical support escalation installation configuration gponepon expertise cisco olt mikrotik knowledge,9,0,0,1,0,0
22,trade marketing executive brand visibility sales targets field marketing campaigns product distribution brand head excel kpis tracking,5,0,0,0,0,0
23,generative ai development evolutionary computation deep learning optimization expert systems design knowledge representation data preprocessing model training research integration,8,0,0,0,0,0
24,mushak forms maintenance vat software ms office maintenance vat ledger management vat challan coordination liaison with vat office vat documentation other assigned tasks,7,0,0,0,0,0
25,machinery maintenance troubleshooting report preparation log maintenance,4,0,0,1,0,0
26,internal audit assistance voucher bill verification cost sheet analysis lc voucher verification expense verification salary wages verification market rate verification,7,0,0,0,0,0
27,management trainee mechanical systems maintenance troubleshooting performance analysis project support process improvement training development administrative support,8,0,0,1,0,0
28,machine learning leadership crossfunctional collaboration strategy development mlnlp infrastructure prototype transformation ml system design algorithm research application development dataset selection ml testing statistical analysis rd in mlnlp text representation data pipeline design statistical data analysis model training team collaboration research reporting algorithm analysis,19,1,1,0,1,0
29,machine learning design data analysis model training ai integration innovation crossfunctional collaboration model deployment documentation analytical skills communication team collaboration,11,1,1,0,0,0

In [ ]:
# skills_required

In [327]:
train_data["skills_required"].isnull().sum(), train_data["skills_required"].isnull().mean()

(1371, 0.17956777996070727)

In [379]:
import re

def preprocess_and_engineer_skills_required(data):
    """
    Preprocess and engineer features for the skills_required column.
    """
    def clean_skills(text):
        """
        Clean and normalize the list of skills.
        """
        if pd.isna(text):
            return ["unknown"]
        # Split skills using common delimiters
        skills = re.split(r'[,\n;]', text.lower())
        # Normalize and clean individual skills
        cleaned_skills = [re.sub(r'[^a-z0-9\s]', '', skill.strip()) for skill in skills if skill.strip()]
        return list(set(cleaned_skills))  # Remove duplicates

    def count_skills(skills):
        """
        Count the number of unique skills listed.
        """
        return len(skills) if (isinstance(skills, list) and len(skills) > 0 and skills[0] != 'unknown' and skills[0] != 'na')  else 0

    def skill_keyword_match(skills, keyword):
        """
        Check for the presence of specific skill keywords in the list.
        """
        if not isinstance(skills, list):
            return 0
        return int(keyword in skills)

    # Clean the skills_required column
    data['skills_required_cleaned'] = data['skills_required'].apply(clean_skills)
    
    # Feature Engineering: Count the number of unique skills
    data['num_skills_required'] = data['skills_required_cleaned'].apply(count_skills)
    
    # Feature Engineering: Check for specific skill keywords
    skill_keywords = ['python', 'java', 'communication', 'marketing', 'excel', 'data', 'leadership']
    for keyword in skill_keywords:
        data[f'contains_{keyword}'] = data['skills_required_cleaned'].apply(
            lambda x: skill_keyword_match(x, keyword)
        )
    
    return data

# Apply preprocessing and feature engineering
train_data = preprocess_and_engineer_skills_required(train_data)

In [380]:
display(train_data[['skills_required_cleaned','num_skills_required'] + [f'contains_{key.replace(" ", "_")}' for key in  ['python', 'java', 'communication', 'marketing', 'excel', 'data', 'leadership']]].head(30))

,skills_required_cleaned,num_skills_required,contains_python,contains_java,contains_communication,contains_marketing,contains_excel,contains_data,contains_leadership
0,[unknown],0,0,0,0,0,0,0,0
1,[unknown],0,0,0,0,0,0,0,0
2,"[trade marketing, campaign management, brand promotion, field supervision, promotional activities, merchandising]",6,0,0,0,0,0,0,0
3,"[ieltsinternet browsing online work ability, fast typing skill]",2,0,0,0,0,0,0,0
4,"[native ios, ios development, ios, swift ui, mobile apps developer ios, ios application development, ios app developer, swift ios]",8,0,0,0,0,0,0,0
5,"[scikitlearn, pytorch, python, r or java, tensorflow]",5,1,0,0,0,0,0,0
6,"[native ios, ios development, ios, swift ui, mobile apps developer ios, ios application development, ios app developer, swift ios]",8,0,0,0,0,0,0,0
7,"[native ios, ios development, ios, swift ui, mobile apps developer ios, ios application development, ios app developer, swift ios]",8,0,0,0,0,0,0,0
8,"[maintenance and troubleshooting, mechanical]",2,0,0,0,0,0,0,0
9,"[ieltsinternet browsing online work ability, fast typing skill]",2,0,0,0,0,0,0,0
10,"[solidworks, autocad]",2,0,0,0,0,0,0,0
11,"[administration, health safety and environment, safety and security management]",3,0,0,0,0,0,0,0
12,[unknown],0,0,0,0,0,0,0,0
13,"[solidworks, autocad]",2,0,0,0,0,0,0,0
14,"[maintenance and troubleshooting, mechanical]",2,0,0,0,0,0,0,0
15,"[mongodb, database management, mysql database, nosql database, aspnet mvc strong understanding of database design, redis, database administrator dba, elasticsearch]",8,0,0,0,0,0,0,0
16,"[operation maintenance of server, cisco, linux]",3,0,0,0,0,0,0,0
17,"[trade marketing, campaign management, brand promotion, field supervision, promotional activities, merchandising]",6,0,0,0,0,0,0,0
18,"[civil 3d, civil construction, auto cad 2d 3d, civil engineering]",4,0,0,0,0,0,0,0
19,[unknown],0,0,0,0,0,0,0,0
20,"[maintenance and troubleshooting, mechanical]",2,0,0,0,0,0,0,0
21,"[iig, ccna cisco certified network associate, it enabled services, hardware networking, olt and onu, isp, gpon]",7,0,0,0,0,0,0,0
22,"[trade marketing, campaign management, brand promotion, field supervision, promotional activities, merchandising]",6,0,0,0,0,0,0,0
23,[unknown],0,0,0,0,0,0,0,0
24,[vat and tax],1,0,0,0,0,0,0,0
25,"[maintenance and troubleshooting, mechanical]",2,0,0,0,0,0,0,0
26,"[internal audit and compliance, having cacc from reputed ca firm]",2,0,0,0,0,0,0,0
27,"[computer skill, mechanical engineering, quick learner and hard working, good communication skills]",4,0,0,0,0,0,0,0
28,[unknown],0,0,0,0,0,0,0,0
29,"[scikitlearn, pytorch, python, r or java, tensorflow]",5,1,0,0,0,0,0,0

In [381]:
len(train_data.columns)

189

In [382]:
train_data.head()

,address,career_objective,skills,educational_institution_name,degree_names,passing_years,educational_results,result_types,major_field_of_studies,professional_company_names,company_urls,start_dates,end_dates,related_skils_in_job,positions,locations,responsibilities,extra_curricular_activity_types,extra_curricular_organization_names,role_positions,languages,proficiency_levels,certification_providers,certification_skills,online_links,issue_dates,expiry_dates,job_position_name,educationaL_requirements,experiencere_requirement,age_requirement,responsibilities.1,skills_required,matched_score,processed_end_dates,end_year,end_month,days_until_end,end_in_past,processed_start_dates,start_year,start_month,days_since_start,start_in_future,related_skils_in_job_cleaned,num_skills,contains_python,contains_java,contains_excel,contains_sql,...,online_links_cleaned,num_links,has_invalid_links,processed_issue_dates,issue_year,issue_month,days_since_issue,processed_expiry_dates,expiry_year,expiry_month,days_until_expiry,is_expired,job_position_cleaned,primary_role,is_trainee,is_executive,is_administrator,education_cleaned,degrees_extracted,fields_extracted,education_level,is_bachelor,is_master,is_phd,is_diploma,is_honors,is_computer_science,is_engineering,is_mechanical_engineering,is_civil_engineering,experience_requirement_cleaned,min_experience,max_experience,experience_category,is_less_than_2_years,is_between_2_and_5_years,is_more_than_5_years,min_age,max_age,is_age_specified,age_requirement_cleaned,num_responsibilities,contains_machine_learning,contains_data_analysis,contains_troubleshooting,contains_quality,skills_required_cleaned,num_skills_required,contains_communication,contains_marketing
0,NaN,Big data analytics working and database warehouse manager with robust experience in handling all kinds of data. I have also used multiple cloud infrastructure services and am well acquainted with them. Currently in search of role that offers more of development.,"['Big Data', 'Hadoop', 'Hive', 'Python', 'Mapreduce', 'Spark', 'Java', 'Machine Learning', 'Cloud', 'Hdfs', 'YARN', 'Core Java', 'Data Science', 'C++', 'Data Structures', 'DBMS', 'RDBMS', 'Informatica', 'Talend', 'Amazon Redshift', 'Microsoft Azure']","['The Amity School of Engineering & Technology (ASET), Noida']",['B.Tech'],['2019'],['N/A'],[None],['Electronics'],['Coca-COla'],[None],['Nov 2019'],['Till Date'],[['Big Data']],['Big Data Analyst'],['N/A'],Technical Support\nTroubleshooting\nCollaboration\nDocumentation\nSystem Monitoring\nSoftware Deployment\nTraining & Mentorship\nIndustry Trends\nField Visits\n\n\n\n\n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Senior Software Engineer,B.Sc in Computer Science & Engineering from a reputed university.,At least 1 year,NaN,Technical Support\nTroubleshooting\nCollaboration\nDocumentation\nSystem Monitoring\nSoftware Deployment\nTraining & Mentorship\nIndustry Trends\nField Visits\n\n\n\n\n,NaN,0.850000,2024-12-27,2024.0,12.0,0,0,2019-11-01,2019.0,11.0,1883,0,big data,1,0,0,0,0,...,[unknown],0,1,None,NaN,NaN,-1,None,NaN,NaN,-1,1,senior software engineer,engineer,0,0,0,bsc in computer science & engineering from a reputed university,[],"[computer science, engineering]",0,0,0,0,0,0,1,1,0,0,at least 1 year,1,NaN,<2 years,1,0,0,NaN,NaN,False,unknown,14,0,0,1,0,[unknown],0,0,0
1,NaN,Fresher looking to join as a data analyst and junior data scientist. Experienced in creating meaningful data dashboards and evaluation models.,"['Data Analysis', 'Data Analytics', 'Business Analysis', 'R', 'SAS', 'PowerBi', 'Tableau', 'Data Visualization', 'Business Analytics', 'Machine Learning']","['Delhi University - Hansraj College', 'Delhi University - Hansraj College']","['B.Sc (Maths)', 'M.Sc (Science) (Statistics)']","['2015', '2018']","['N/A', 'N/A']","['N/A', 'N/A']","['Mathematics', 'Statistics']",['BIB Consultancy'],['N/A'],['Sep 2019'],['Till Date'],"[['Data Analysis', 'Business Analysis', 'Machine Learning']]",['Business Analyst'],['N/A'],Machine Learning Leadership\nCross-Functional Collaboration\nStrategy Development\nML/NLP Infrastructure\nPrototype Transformation\nML System Design\nAlgorithm Research\nApplication Development\nDataset Selection\nML Testing\nStatistical Analysis\nR&D in ML/NLP\nText Representation\nData Pipeline Design\nStatistical Data Analysis\nModel Training\nTeam Collaboration\nResearch Reporting\nAlgorithm Analysis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Machine Learning (ML) Engineer,M.Sc in Computer Science & Engineering or in any relevant discipline from a reputed University,At least 5 year(s),NaN,Machine Learning Leadership\nCross-Functional Collaboration\nStrategy Development\nML/NLP Infrastructure\nPrototype Transformation\nML System Design\nAlgorithm Research\nApplication Development\nDataset Selection\nML Testing\nStatistical Analysis\nR&D in ML/NLP\nText Representation\nData Pipeline Design\nStatistical Data Analysis\nModel Training\nTeam Collaboration\nResearch Reporting\nAlgorithm Analysis,NaN,0.750000,2024-12-27,2024.0,12.0,0,0,2019-09-01,2019.0,9.0,1944,0,"data analysis, business analysis, machine learning",3,0,0,0,0,...,[unknown],0,1,None,NaN,NaN,-1,None,NaN,NaN,-1,1,machine learning ml engineer,engineer,0,0,0,msc in computer science & engineering or in any relevant discipline from a reputed university,[],"[computer science, engineering]",0,0,0,0,0,0,1,1,0,0,at least 5 year,5,NaN,2-5 years,0,1,0,NaN,NaN,False,unknown,19,1,1,0,0,[unknown],0,0,0
2,NaN,NaN,"['Software Development', 'Machine Learning', 'Deep Learning', 'Risk Assessment', 'Requirement Gathering', 'Application Support', 'JavaScript', 'Python', 'Docker', 'HTML', 'Hive', 'CSS', 'C', 'C++']","['Birla Institute of Technology (BIT), Ranchi']",['B.Tech'],['2018'],['N/A'],['N/A'],['Electronics/Telecommunication'],['Axis Bank Limited'],['N/A'],['June 2018'],['Till Date'],"[['Unified Payment Interface', 'Risk Prediction', 'Big Data', 'Spark', 'PySpark']]",['Software Developer (Machine Learning Engineer)'],['N/A'],"Trade Marketing Executive\nBrand Visibility, Sales Targets\nField Marketing, Campaigns, Product Distribution\nBrand Head\nExcel, KPIs Tracking",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Executive/ Senior Executive- Trade Marketing, Hygiene Products",Master of Business Administration (MBA),At least 3 years,NaN,"Trade Marketing Executive\nBrand Visibility, Sales Targets\nField Marketing, Campaigns, Product Distribution\nBrand Head\nExcel, KPIs Tracking",Brand Promotion\nCampaign Management\nField Supervision\nMerchandising\npromotional activities\nTrade Marketing,0.416667,2024-12-27,2024.0,12.0,0,0,2018-06-01,2018.0,6.0,2401,0,"unified payment interface, risk prediction, big data, spark, pyspark",5,0,0,0,0,...,[unknown],0,1,None,NaN,NaN,-1,None,NaN,NaN,-1,1,executive senior executive trade marketing hygiene products,executive,0,1,0,master of business administration (mba),[master],[],3,0,1,0,0,0,0,0,0,0,at least 3 years,3,NaN,2-5 years,0,1,0,NaN,NaN,False,unknown,5,0,0,0,0,"[trade marketing, campaign management, brand promotion, field supervision, promotional activities, merchandising]",6,0,0
3,NaN,"To obtain a position in a fast-paced business office environment, demanding a strong organizational, technical, and interpersonal position utilizing my skills and attributes.","['accounts payables', 'accounts receivables', 'Accounts Payable', 'Accounts Receivable', 'administrative functions', 'trial balance', 'banking', 'budget', 'bi', 'closing', 'Computer Applications', 'Credit', 'clients', 'Customer Service', 'data entry', 'delivery', 'driving', 'email', 'insurance', 'inventory', 'ledger', 'Access', 'Excel', 'Outlook', 'PowerPoint', 'Word', 'mortgage loan', 'Enterprise', 'policies', 'QuickBooks', 'Sales', 'sales reports', 'telecommunications', 'phone', 'workflow', 'written']","['Martinez Adult Education, Business Training Center ï¼ City , State']",['Computer Applications Specialist Certificate Program'],['2008'],[None],[None],['Computer Applications'],"['Company Name ï¼ City , State', 'Company Name ï¼ City , State', 'Company Name ï¼ City , State', 'Company Name ï¼ City , State', 'Company Name ï¼ City , State', 'N/A']","[None, None, None, None, None, None]","['January 2011', 'January 2008', 'January 2006', 'January 2004', 'January 2001', 'N/A']","['November 2015', 'January 2010', 'January 2008', 'January 2006', 'January 2004', None]","[['accounts receivables', 'banking', 'G/L Accounts', 'accounts payables', 'credit cards', 'reconcile', 'commission reports', 'credit checks', 'customer service', 'international travel'], ['data entry', 'accounts receivable', 'cash handling', 'customer communication', 'inventory reports', 'problem-solving'], ['mortgage processing', 'analytical aptitude', 'credit reports', 'customer communication'], ['commercial auto underwriting', 'data entry', 'application review', 'customer communication'], ['personal auto underwriting', 'data entry', 'policy review', 'customer service'], ['training', 'medical record review', 'data entry', 'document design', 'customer service', 'team performance']]","['Accountant', 'Accounts Receivable Clerk', 'Mortgage Underwriter', 'Commercial Auto Underwriter', 'Personal Auto Underwriter', 'Claims Examiner']","['City, State', 'City, State', 'City, State', 'City, State', 'City, State', 'N/A']",Apparel Sourcing\nQuality Garment Sourcing\nReliable Partner\nBuyer/Vendor Communication,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Business Development Executive,Bachelor/Honors,1 to 3 years,Age 22 to 30 years,Apparel Sourcing\nQuality Garment Sourcing\nReliable Partner\nBuyer/Vendor Communication,Fast typing skill\nIELTSInternet browsing & online work ability.,0.760000,2015-11-01,2015.0,11.0,-3344,1,None,NaN,NaN,-1,1,"accounts receivables, banking, gl accounts, accounts payables, credit cards, reconcile, commission reports, credit checks, customer service, international travel, data entry, accounts receivable, cash handling, customer communication, inventory reports, problemsolving, mortgage processing, analytical aptitude, credit reports, customer communication, commercial auto underwriting, data entry, application review, customer communication, personal auto underwriting, data entry, policy review, customer service, training, medical record review, data entry, document design, customer service, team performance",34,0,0,0,0,...,[unknown],0,1,None,NaN,NaN,-1,None,NaN,NaN,-1,1,business development executive,executive,0,1,0,bachelorhonors,"[bachelor, honors]",[],2,1,0,0,0,1,0,0,0,0,1 to 3 years,1,3.0,<2 years,1,0,0,22.0,30.0,True,Age 22 to 30 years,4,0,0,0,1,"[ieltsinternet browsing online work ability, fast typing skill]",2,0,0
4,NaN,"Professional accountant with an outstanding work ethic and integrity seeking to make a valuable contribution utilizing strong analytical, organizational, communication, and computer skills.","['Analytical reasoning', 'Compliance testing knowledge', 'Effective time management', 'Public and private accounting', 'accounting', 'accounting systems', 'accounts payable', 'accounts receivable', 'administrative', 'AR', 'billing', 'closing', 'client', 'clients', 'documentation', 'financial', 'financial reports', 'preparation of financial reports', 'Preparation of financial statements', 'fixed assets', 'managing', 'month-end closing', 'policies', 'maintain records', 'reporting', 'Research', 'sales', 'tax', 'taxes', 'tax returns', 'annual reports', 'year-end']",['Kent State University'],['Bachelor of Business Administration'],[None],['3.84'],[None],['Accounting'],"['Company Name', 'Company Name', 'Company Name', 'Company Name', 'Company Name']","[None, None, None, None, None]","['January 2016', 'January 2016', 'January 2012', 'January 2009', 'January 2006']","['Current', 'January 2016', 'January 2015', 'January 2011', 'January 2009']","[['collections', 'accounts receivable', 'financial reports', 'AR aging', 'customer queries', 'sales and use tax audits'], ['financial statements', 'GAAP', 'asset', 'liability', 'capital account', 'accounting controls', 'audits'], ['sales tax', 'tax returns', 'business licenses', 'annual reports', 'tax audits'], ['financial reporting', 'fixed assets', 'sales tax', 'cash projections', 'general ledger accounting'], ['audit procedures', 'substantive tests', 'internal accounting', 'tests of compliance', 'audit programs']]","['Staff Accountant', 'Senior Accountant', 'Tax Analyst', 'Staff Accountant II', 'Staff Auditor II']","['City, State', 'City, State', 'City, State', 'City, State', 'City, State']",iOS Lifecycle\nRequirement Analysis\nNative Frameworks\niOS Development\nAPI Integration\nTechnical Communication\nUI Design\nPerformance Optimization\nFeature Collaboration\nBug Fixing\nCode Translation\nHigh-Performance Development\nTask Management\nCross-Team Collaboration\nCode Quality,"['Professional Organization', 'Honor Society', 'Honor Society', 'Honor Society']","['Ohio Society of CPAs', 'Beta Alpha Psi', 'Golden Key International Honour Society', 'Beta Gamma Sigma']","[None, None, None, None]",NaN,NaN,['Ohio Notary Public'],[None],[None],[None],"['February 15, 2021']",Senior iOS Engineer,Bachelor of Science (BSc) in Computer Science,At least 4 years,NaN,iOS Lifecycle\nRequirement Analysis\nNative Frameworks\niOS Development\nAPI Integration\nTechnical Communication\nUI Design\nPerformance Optimization\nFeature Collaboration\nBug Fixing\nCode Translation\nHigh-Performance Development\nTask Management\nCross-Team Collaboration\nCode Quality,iOS\niOS App Developer\niOS Application Development\niOS Development\nMobile apps Developer (iOS)\nNative IOS\nSwift (iOS)\nSwift UI,0.650000,2024-12-27,2024.0,12.0,0,0,2006-01-01,2006.0,1.0,6935,0,"collections, accounts receivable, financial reports, ar aging, customer queries, sales and use tax audits, financial statements, gaap, asset, liability, capital account, accounting controls, audits, sales tax, tax returns, business licenses, annual reports, tax audits, financial reporting, fixed assets, sales tax, cash projections, general ledger accounting, audit procedures, substantive tests, internal accounting, tests of compliance, audit programs",28,0,0,0,0,...,[unknown],0,1,None,NaN,NaN,-1,2021-02-15,2021.0,2.0,-1411,1,senior ios engineer,engineer,0,0,0,bachelor of science (bsc) in computer science,[bachelor],[computer science],2,1,0,0,0,0,1,0,0,0,at least 4 years,4,NaN,2-5 years,0,1,0,NaN,NaN,False,unknown,15,0,0,0,1,"[native ios, ios development, ios, swift ui, mobile apps developer ios, ios application development, ios app developer, swift ios]",8,0,0

In [385]:
train_data.drop(['address', 'career_objective', 'skills', 'educational_institution_name',
       'degree_names', 'passing_years', 'educational_results', 'result_types',
       'major_field_of_studies', 'professional_company_names', 'company_urls',
       'start_dates', 'end_dates', 'related_skils_in_job', 'positions',
       'locations', 'responsibilities', 'extra_curricular_activity_types',
       'extra_curricular_organization_names', 'role_positions', 'languages',
       'proficiency_levels', 'certification_providers', 'certification_skills',
       'online_links', 'issue_dates', 'expiry_dates', 'job_position_name',
       'educationaL_requirements', 'experiencere_requirement',
       'age_requirement', 'responsibilities.1', 'skills_required',
       'matched_score'], axis=1,inplace=True)

In [388]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7635 entries, 0 to 7634
Columns: 155 entries, processed_end_dates to contains_marketing
dtypes: bool(1), float64(11), int64(114), object(29)
memory usage: 9.0+ MB

In [389]:
pd.set_option('display.max_columns', None)  # Show all columns
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7635 entries, 0 to 7634
Columns: 155 entries, processed_end_dates to contains_marketing
dtypes: bool(1), float64(11), int64(114), object(29)
memory usage: 9.0+ MB

In [395]:
ll = list()
for col in train_data.columns:
    if 'cleaned' in col:
        ll.append(col)
    # print(f"Column: {col}, Type: {train_data[col].dtype}")

In [396]:
ll

[]

In [394]:
train_data.drop(['related_skils_in_job_cleaned',
 'positions_cleaned',
 'locations_cleaned',
 'responsibilities_cleaned',
 'extra_curricular_activity_types_cleaned',
 'organization_names_cleaned',
 'organization_links_cleaned',
 'role_positions_cleaned',
 'languages_cleaned',
 'proficiency_levels_cleaned',
 'certification_providers_cleaned',
 'certification_skills_cleaned',
 'online_links_cleaned',
 'job_position_cleaned',
 'education_cleaned',
 'experience_requirement_cleaned',
 'age_requirement_cleaned',
 'skills_required_cleaned'], axis=1, inplace=True)

In [398]:
len(train_data.columns)

137

In [399]:
train_data.to_csv('cleaned.csv')

In [402]:
train_data.select_dtypes(include="object").columns

Index(['processed_end_dates', 'processed_start_dates', 'location_type',
       'common_providers', 'other_providers', 'processed_issue_dates',
       'processed_expiry_dates', 'primary_role', 'degrees_extracted',
       'fields_extracted', 'experience_category'],
      dtype='object')

In [405]:
train_data.drop(['processed_end_dates', 'processed_start_dates', 'location_type',
       'common_providers', 'other_providers', 'processed_issue_dates',
       'processed_expiry_dates', 'primary_role', 'degrees_extracted',
       'fields_extracted', 'experience_category'], axis=1, inplace=True)

In [409]:
train_data.columns

Index(['end_year', 'end_month', 'days_until_end', 'end_in_past', 'start_year',
       'start_month', 'days_since_start', 'start_in_future', 'num_skills',
       'contains_python',
       ...
       'max_age', 'is_age_specified', 'num_responsibilities',
       'contains_machine_learning', 'contains_data_analysis',
       'contains_troubleshooting', 'contains_quality', 'num_skills_required',
       'contains_communication', 'contains_marketing'],
      dtype='object', length=126)

In [412]:
for col in train_data.columns:
    if col == "matched_score":
        print(col)

In [413]:
train_data["matched_score"] = train["matched_score"]

In [414]:
train_data.to_csv('further_cleaned.csv')

In [416]:
pd.set_option('display.max_columns', None)

In [417]:
train_data.isnull().sum()

end_year                  2096
end_month                 2096
days_until_end               0
end_in_past                  0
start_year                 384
                          ...
contains_quality             0
num_skills_required          0
contains_communication       0
contains_marketing           0
matched_score                0
Length: 127, dtype: int64

In [422]:
train_data = pd.read_csv("./further_cleaned.csv")

In [430]:
null_values = train_data.isnull().sum().reset_index()
null_values.columns = ['Column', 'Null Count']
null_values

                                   Column  Null Count
0                                end_year           0
1                               end_month           0
2                          days_until_end           0
3                             end_in_past           0
4                              start_year           0
5                             start_month           0
6                        days_since_start           0
7                         start_in_future           0
8                              num_skills           0
9                         contains_python           0
10                          contains_java           0
11                         contains_excel           0
12                           contains_sql           0
13                    contains_leadership           0
14                          contains_data           0
15                          num_positions           0
16                       contains_manager           0
17                     contains_developer           0
18                       contains_analyst           0
19                      contains_engineer           0
20                    contains_consultant           0
21                     contains_executive           0
22                          num_locations           0
23                        contains_remote           0
24                           contains_usa           0
25                         contains_india           0
26                    contains_bangladesh           0
27                            contains_uk           0
28                        contains_canada           0
29            responsibilities_word_count           0
30        responsibilities_sentence_count           0
31       responsibilities_contains_manage           0
32      responsibilities_contains_develop           0
33   responsibilities_contains_coordinate           0
34         responsibilities_contains_lead           0
35      responsibilities_contains_analyze           0
36       responsibilities_contains_design           0
37                     num_activity_types           0
38                        contains_sports           0
39                  contains_volunteering           0
40                          contains_arts           0
41                         contains_music           0
42                        contains_debate           0
43                        contains_coding           0
44                      num_organizations           0
45                    contains_university           0
46                          contains_club           0
47                       contains_society           0
48                   contains_association           0
49                    contains_foundation           0
50                       num_unique_links           0
51                        is_invalid_link           0
52                              num_roles           0
53                             is_manager           0
54                           is_developer           0
55                            is_engineer           0
56                             is_analyst           0
57                            is_designer           0
58                          is_consultant           0
59                          num_languages           0
60                          knows_english           0
61                          knows_spanish           0
62                           knows_french           0
63                           knows_german           0
64                            knows_hindi           0
65                         knows_mandarin           0
66                      num_proficiencies           0
67                              is_fluent           0
68                              is_native           0
69                          is_proficient           0
70                            is_advanced           0
71                           is_bilingual           0
72            num_certification_providers           0
73                            is_coursera           0
74                   is_linkedin_learning           0
75                               is_udemy           0
76                              is_google           0
77                           is_microsoft           0
78                                 is_aws           0
79                   num_common_providers           0
80                    num_other_providers           0
81               num_certification_skills           0
82                       has_skill_python           0
83                         has_skill_java           0
84                        has_skill_excel           0
85                          has_skill_sql           0
86                         has_skill_data           0
87                   has_skill_management           0
88                              num_links           0
89                      has_invalid_links           0
90                             issue_year           0
91                            issue_month           0
92                       days_since_issue           0
93                            expiry_year           0
94                           expiry_month           0
95                      days_until_expiry           0
96                             is_expired           0
97                             is_trainee           0
98                           is_executive           0
99                       is_administrator           0
100                       education_level           0
101                           is_bachelor           0
102                             is_master           0
103                                is_phd           0
104                            is_diploma           0
105                             is_honors           0
106                   is_computer_science           0
107                        is_engineering           0
108             is_mechanical_engineering           0
109                  is_civil_engineering           0
110                        min_experience           0
111                        max_experience           0
112                  is_less_than_2_years           0
113              is_between_2_and_5_years           0
114                  is_more_than_5_years           0
115                               min_age           0
116                               max_age           0
117                      is_age_specified           0
118                  num_responsibilities           0
119             contains_machine_learning           0
120                contains_data_analysis           0
121              contains_troubleshooting           0
122                      contains_quality           0
123                   num_skills_required           0
124                contains_communication           0
125                    contains_marketing           0
126                         matched_score           0

In [424]:
train_data.drop('Unnamed: 0',axis=1,inplace=True)

In [426]:
train_data.head()

,end_year,end_month,days_until_end,end_in_past,start_year,start_month,days_since_start,start_in_future,num_skills,contains_python,contains_java,contains_excel,contains_sql,contains_leadership,contains_data,num_positions,contains_manager,contains_developer,contains_analyst,contains_engineer,contains_consultant,contains_executive,num_locations,contains_remote,contains_usa,contains_india,contains_bangladesh,contains_uk,contains_canada,responsibilities_word_count,responsibilities_sentence_count,responsibilities_contains_manage,responsibilities_contains_develop,responsibilities_contains_coordinate,responsibilities_contains_lead,responsibilities_contains_analyze,responsibilities_contains_design,num_activity_types,contains_sports,contains_volunteering,contains_arts,contains_music,contains_debate,contains_coding,num_organizations,contains_university,contains_club,contains_society,contains_association,contains_foundation,...,is_microsoft,is_aws,num_common_providers,num_other_providers,num_certification_skills,has_skill_python,has_skill_java,has_skill_excel,has_skill_sql,has_skill_data,has_skill_management,num_links,has_invalid_links,issue_year,issue_month,days_since_issue,expiry_year,expiry_month,days_until_expiry,is_expired,is_trainee,is_executive,is_administrator,education_level,is_bachelor,is_master,is_phd,is_diploma,is_honors,is_computer_science,is_engineering,is_mechanical_engineering,is_civil_engineering,min_experience,max_experience,is_less_than_2_years,is_between_2_and_5_years,is_more_than_5_years,min_age,max_age,is_age_specified,num_responsibilities,contains_machine_learning,contains_data_analysis,contains_troubleshooting,contains_quality,num_skills_required,contains_communication,contains_marketing,matched_score
0,2024.0,12.0,0,0,2019.0,11.0,1883,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,15,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0,0,0,1,NaN,NaN,-1,NaN,NaN,-1,1,0,0,0,0,0,0,0,0,0,1,1,0,0,1,NaN,1,0,0,NaN,NaN,False,14,0,0,1,0,0,0,0,0.850000
1,2024.0,12.0,0,0,2019.0,9.0,1944,0,3,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,43,1,0,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0,0,0,1,NaN,NaN,-1,NaN,NaN,-1,1,0,0,0,0,0,0,0,0,0,1,1,0,0,5,NaN,0,1,0,NaN,NaN,False,19,1,1,0,0,0,0,0,0.750000
2,2024.0,12.0,0,0,2018.0,6.0,2401,0,5,0,0,0,0,0,0,1,0,1,0,1,0,0,1,0,0,0,0,0,0,17,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0,0,0,1,NaN,NaN,-1,NaN,NaN,-1,1,0,1,0,3,0,1,0,0,0,0,0,0,0,3,NaN,0,1,0,NaN,NaN,False,5,0,0,0,0,6,0,0,0.416667
3,2015.0,11.0,-3344,1,NaN,NaN,-1,1,34,0,0,0,0,0,0,6,0,0,0,0,0,0,11,0,0,0,0,0,0,9,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0,0,0,1,NaN,NaN,-1,NaN,NaN,-1,1,0,1,0,2,1,0,0,0,1,0,0,0,0,1,3.0,1,0,0,22.0,30.0,True,4,0,0,0,1,2,0,0,0.760000
4,2024.0,12.0,0,0,2006.0,1.0,6935,0,28,0,0,0,0,0,0,5,0,0,1,0,0,0,10,0,0,0,0,0,0,30,1,1,1,0,0,0,1,4,0,0,0,0,0,0,4,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0,0,0,1,NaN,NaN,-1,2021.0,2.0,-1411,1,0,0,0,2,1,0,0,0,0,1,0,0,0,4,NaN,0,1,0,NaN,NaN,False,15,0,0,0,1,8,0,0,0.650000

In [429]:
for col in train_data.columns:
    if train_data[col].isnull().sum() > 0:
        train_data[col].fillna(train_data[col].mean(), inplace=True)

In [427]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7635 entries, 0 to 7634
Columns: 127 entries, end_year to matched_score
dtypes: bool(1), float64(12), int64(114)
memory usage: 7.3 MB

In [434]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
X = train_data.drop(columns=['matched_score'])
y = train_data['matched_score']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [435]:
y_pred = rf_model.predict(X_test)

In [438]:
mse = mean_squared_error(y_test, y_pred)

In [437]:
from sklearn.metrics import mean_squared_error

In [439]:
mse

0.01209764159497277

In [443]:
from sklearn.metrics import r2_score

In [444]:
r2_score(y_test, y_pred)

0.5392346741644329